@import "_utility.scss";
@import "_normalize.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@font-face {
	font-family: 'BLACK';
	src: url('../fonts/mplus-2p-heavy.eot?') format('eot'),
	     url('../fonts/mplus-2p-heavy.woff') format('woff'),
	     url('../fonts/mplus-2p-heavy.ttf')  format('truetype');
}

$basefontSize : 14;
$color1 : #000;
$color2 : #12806a;
$tapHighlightColor: rgba(0,0,0,.7);

/* ==========================================================================
   base style
   ========================================================================== */
::-webkit-selection {background:$tapHighlightColor; color:#fff;}
::-moz-selection    {background:$tapHighlightColor; color:#fff;}
::selection         {background:$tapHighlightColor; color:#fff;}

html{
	color: $color1;
	font-family: $fontSansSerif;
	font-size:$basefontSize * 1px;
	line-height: 1.5;
	background: url("../img/misc/bg_01.png") repeat-y 50% 0;
}

body{
	margin:0;
	padding:50px 0 0 0;
	min-width: 1040px;
	background: url("../img/misc/bg_02.png") repeat-y 50% -300px;
	-webkit-animation: bgAnim 20s linear;
	   -moz-animation: bgAnim 20s linear;
	        animation: bgAnim 20s linear;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}


@-webkit-keyframes bgAnim {
	from { background-position:50% 0; }
	to   { background-position:50% -807px; }
}
@-moz-keyframes bgAnim {
	from { background-position:50% 0; }
	to   { background-position:50% -807px; }
}
@keyframes bgAnim {
	from { background-position:50% 0; }
	to   { background-position:50% -807px; }
}

a{
	color: $color2;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   mod-pageHeader
   ========================================================================== */
.mod-pageHeader{
	@include clearfix();
	background: url(../img/mod-pageHeader/bg_01.png) no-repeat 50% 0;
	h1{
		margin: 0;
		padding: 10px;
		float: left;
		img{
			display: block;
		}
	}
}
.mod-pageHeader-inner{
	width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
}
.mod-pageHeader-info{
	font-size: font-size( 12 );
	line-height: 1.4;
	text-align: right;
	padding:4px 20px 4px 0;
	float: right;
}
.mod-pageHeader-info1{font-size: font-size( 18, 12 ); font-weight: bold; }
.mod-pageHeader-info2{font-size: font-size( 14, 12 ); font-weight: bold; }
.mod-pageHeader-info3{font-size: font-size( 14, 12 ); }
.mod-pageHeader-info4{font-weight: bold; }

/* ==========================================================================
   mod-pageFooter
   ========================================================================== */
.mod-pageFooter{
	color: #FFF;
	font-size: font-size( 14 );
	padding: 40px 0;
	background: #16a085;
	a{
		color: #ffff00;
	}
}
.mod-pageFooter-inner{
	@include clearfix();
	width: 1040px;
	margin: 0 auto;
}
.mod-pageFooter-copyright{
	float: left;
}
.mod-pageFooter-createdBy{
	float: right;
}

/* ==========================================================================
   mod-pageBody
   ========================================================================== */
.mod-pageBody{
	@include clearfix();
	position: relative;
	width: 1000px;
	padding: 0 20px 20px;
	margin: 0 auto;
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;
	-webkit-transform: perspective( 1000px );
	   -moz-transform: perspective( 1000px );
	        transform: perspective( 1000px );
	-webkit-perspective-origin: 50% 0%;
	   -moz-perspective-origin: 50% 0%;
	        perspective-origin: 50% 0%;
}

/* ==========================================================================
   mod-pageMain
   ========================================================================== */
.mod-pageMain{
	width: 620px;
	padding: 50px 20px 0;
	float: right;
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	        transition: all .2s;
	&.mod-pageMain--changing{
		opacity:.5;
		-webkit-transform: translateZ( -50px );
		   -moz-transform: translateZ( -50px );
		        transform: translateZ( -50px );
	}
}

/* ==========================================================================
   mod-pageSide
   ========================================================================== */
.mod-pageSide{
	float: left;
	width: 300px;
}

/* ==========================================================================
   mod-nav
   ========================================================================== */

.mod-nav{
	font-size: font-size( 26 );
	margin: 0 0 20px;
	padding: 10px;
	background: url(../img/mod-nav/bg_01.png);
	a{
		color: #000;
		font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-decoration: none;
		padding: 0 0 0 26px;
		background: url(../img/mod-nav/ico_01.png) no-repeat 0 50%;
		-webkit-transition: color .2s;
		   -moz-transition: color .2s;
		        transition: color .2s;
	}
	li.mod-nav--current{
		a{
			color: #ffff00;
			background-position: -400px 50%;
		}
	}
}


/* ==========================================================================
   mod-share
   ========================================================================== */
.mod-share{
	margin: 20px 0;
	text-align: center;
	li{
		display: inline-block;
		*display: inline;
		*zoom:1;
		vertical-align: bottom;
	}
}

/* ==========================================================================
   mod-twitterTimeline
   ========================================================================== */
.mod-twitterTimeline{
	margin: 20px 0;
	border: 2px solid #86eed7;
	border-radius: 6px 6px 0 0;
	background: url("../img/mod-twitterTimeline/bg_01.png");
	iframe{
		display: block;
	}
	.mod-twitterTimeline-title{
		color: #009e96;
		font-size: font-size( 12 );
		padding: 6px 0 0 4px;
	}
	.mod-twitterTimeline-subTitle{
		padding: 0 0 0 4px;
		margin-bottom: .5em;
	}
}

/* ==========================================================================
   mod-sideItem
   ========================================================================== */
.mod-sideItem{
	border: 2px solid #86eed7;
	padding: 10px 5px;
	margin: 20px 0;
	background: #FFF;
	iframe{
		display: block;
	}
}
.mod-sideItem-heading{
	font-size: font-size( 20 );
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 0 60px;
	margin: 1em 0 .5em;
	background: url("../img/mod-sideItem/bg_01.png") no-repeat 50% 50%;
}

/* ==========================================================================
   mod-sponsorLogo
   ========================================================================== */
.mod-sponsorLogo{
	width: 200px;
	margin: 0 auto 10px;
	img{
		display: block;
	}
}


/* ==========================================================================
   mod-pagetop
   ========================================================================== */
.mod-pagetop{
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 50px;
	right: -40px;
	background: url("../img/mod-pagetop/bg_01.png") no-repeat;
}

@media ( max-width:1140px ) {
	.mod-pagetop{ display: none; }
}

/* ==========================================================================
   mod-section
   ========================================================================== */
.mod-section{
	margin: 0 0 3em;
}

/* ==========================================================================
   mod-heading
   ========================================================================== */
.mod-heading{
	// margin: 0 -10px 2em -36px;
	margin: 0 -20px 2em -16px;
	padding: 0 0 10px 38px;
	line-height: 1;
	background: url("../img/mod-heading/bg_01.png") no-repeat 0 100%;
	*zoom:1;
	h1, h2{
		font-size: 100%;
		margin: 0;
	}
	.mod-heading-en{
		font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: font-size( 38 );
		font-weight: normal;
		display: light;
	}
	.mod-heading-ja{
		font-family: "BLACK";
		font-size: font-size( 22 );
		font-weight: bold;
		letter-spacing: -0.05em;
		display: block;
	}
}

/* ==========================================================================
   mod-heading2
   ========================================================================== */
.mod-heading2{
	padding: 0 10px;
	margin: 3em 0 .8em;
	h2{
		color: #FFF;
		font-size: font-size( 16 );
		font-weight: normal;
		text-align: left;
		text-shadow: 0 0 3px rgba( 0, 0, 0, .2 );
		display: inline-block;
		*display: inline;
		*zoom:1;
		padding: 3px;
		margin: 0;
		position: relative;
		background: #838988;
		&:after,
		&:before{
			content: '';
			display: block;
			width: 10px;
			position: absolute;
			top:0;
			bottom:0;
			background:url(../img/mod-timeTable/bg_01.png);
		}
		&:after{
			left: -10px;
			background-position: 0 100%;
		}
		&:before{
			right: -10px;
			background-position: 100% 0;
		}
	}
}

/* ==========================================================================
   mod-heading3
   ========================================================================== */
.mod-heading3{
	margin: 1em 0 0;
	h3{
		color: #12806a;
		font-weight: bold;
		margin: 0;
	}
	&+p{
		margin-top: 0;
	}
}

/* ==========================================================================
   mod-table
   ========================================================================== */
.mod-table{
	margin: 1em 0;
	th{
		white-space: nowrap;
		vertical-align: top;
		padding: 0 20px 10px 0;
		div{
			color: #FFF;
			font-weight: normal;
			text-shadow: 0 0 3px rgba( 0, 0, 0, .2 );
			position: relative;
			margin: 0 10px;
			padding: 3px 0;
			background:url(../img/mod-table/bg_01.png);
			&:after,
			&:before{
				content: '';
				display: block;
				width: 10px;
				position: absolute;
				top:0;
				bottom:0;
				background:url(../img/mod-table/bg_01.png);
			}
			&:after{
				left: -10px;
				background-position: 0 100%;
			}
			&:before{
				right: -10px;
				background-position: 100% 0;
			}
		}
	}

	td{
		padding: 3px 0 10px;
	}
}

/* ==========================================================================
   mod-speaker
   ========================================================================== */
.mod-speaker{
	min-height: 130px;
	padding: 0 0 0 154px;
	margin-bottom: 20px;
	position: relative;
	*zoom:1;
	p{
		margin-top: .5em;
	}
	p:last-child{
		margin-bottom: 0;
	}
	.mod-speaker-image{
		position: absolute;
		top:0;
		left: 0;
		img{
			display: block;
		}
	}
	.mod-speaker-name{
		color: #fff;
		font-size: font-size( 18 );
		text-shadow: 0 0 3px #009978, -1px -1px 1px rgba( 0, 0, 0, .5 );
		position: relative;
		display: inline-block;
		margin:0 14px;
		background: #16a085;
		&:after,
		&:before{
			content: '';
			position: absolute;
			top:0;
			bottom: 0;
			width: 14px;
			background: url("../img/mod-speaker/bg_01.png") no-repeat;
		}
		&:after {
			left: -14px;
			background-position: 0 50%;
		}
		&:before{
			right: -14px;
			background-position: 100% 50%;
		}
	}
}


/* ==========================================================================
   mod-news
   ========================================================================== */

.mod-news{}
.mod-news-date{
	font-size: font-size( 14 );
	color: #fff;
	display: inline-block;
	*display: inline;
	*zoom:1;
	padding: 0 6px;
	background: #838988;
}
.mod-news-text{
	margin: .3em 0 .5em;
}

/* ==========================================================================
   mod-timeTable
   ========================================================================== */
.mod-timeTable{
	margin: 1em -5px 2em;
	table{
		border-collapse:separate;
		width: 100%;
	}
	thead th{
		padding: 0 16px 0 14px;
		div{
			color: #FFF;
			font-weight: normal;
			text-align: left;
			text-shadow: 0 0 3px rgba( 0, 0, 0, .2 );
			padding: 3px;
			position: relative;
			background: #838988;
			&:after,
			&:before{
				content: '';
				display: block;
				width: 10px;
				position: absolute;
				top:0;
				bottom:0;
				background:url(../img/mod-timeTable/bg_01.png);
			}
			&:after{
				left: -10px;
				background-position: 0 100%;
			}
			&:before{
				right: -10px;
				background-position: 100% 0;
			}
		}
	}
	tbody{
		th{
			white-space: nowrap;
		}
		th, td{
			vertical-align: top;
			text-align: left;
			border-color:#fff;
			border-color:rgba( 0, 0, 0, 0 );
			border-style:solid;
			border-width:0 5px;
			padding: 8px 16px 8px 12px;
			background: #FFF;
			background: url("../img/mod-timeTable/bg_03.png") repeat-y,
			            url("../img/mod-timeTable/bg_02.png") no-repeat 100% 100%;
			background-clip:padding-box;
		}
		tr:first-child{
			td, th{
				border-top-width: 10px;
				background: url("../img/mod-timeTable/bg_05.png") no-repeat 100% -2px,
				            url("../img/mod-timeTable/bg_03.png") repeat-y,
				            url("../img/mod-timeTable/bg_02.png") no-repeat 100% 100%;
				background-clip:padding-box;
			}
		}
		tr:last-child{
			td, th{
				background: url("../img/mod-timeTable/bg_05.png") no-repeat 100% 100%,
				            url("../img/mod-timeTable/bg_03.png") repeat-y,
				            url("../img/mod-timeTable/bg_02.png") no-repeat 100% 100%;
				background-clip:padding-box;
			}
		}
		tr th.mod-timeTable--collapse,
		tr:first-child:last-child td,
		tr:first-child:last-child th{
			background: url("../img/mod-timeTable/bg_05.png") no-repeat 100% 100%,
			            url("../img/mod-timeTable/bg_04.png") repeat-x,
			            url("../img/mod-timeTable/bg_03.png") repeat-y,
			            url("../img/mod-timeTable/bg_02.png") no-repeat 100% 100%;
			background-clip:padding-box;
		}
	}
	.mod-timeTable-title{
		font-weight: bold;
	}
	.mod-timeTable-speaker{}
	.mod-timeTable-heading{
		color: #fff;
		text-align: center;
		padding: 2px 20px 1px;
		margin-bottom: .8em;
		background: url("../img/mod-timeTable/bg_06.png") no-repeat 0 50%,
		            url("../img/mod-timeTable/bg_06.png") no-repeat 100% 50%;
		background-color: #16a085;
	}
}


/* ==========================================================================
   mod-icon
   ========================================================================== */
.mod-icon{
	display: inline-block;
	width: 20px;
	height: 15px;
	background: url("../img/mod-icon/ico_01.png") no-repeat;
}
.mod-icon--movie        {background-position:   0     0  ;}
a:hover .mod-icon--movie{background-position:   0   -20px;}
.mod-icon--slide        {background-position: -30px   0  ;}
a:hover .mod-icon--slide{background-position: -30px -20px;}
/* ==========================================================================
   mod-floorMap
   ========================================================================== */
.mod-floorMap{
	h1{
		font-size: font-size( 14 );
		text-align: center;
		margin: 0 0 1em;
	}
}

/* ==========================================================================
   mod-image
   ========================================================================== */
.mod-image{
	margin: 1em -1px;
	img{
		border:1px solid #d6d6d6;
		border-radius: 3px;
		display: block;
		margin: 0 auto;
	}
}
/* ==========================================================================
   mod-sponsor
   ========================================================================== */

.mod-sponsor{
	position: relative;
	min-height: 180px;
	_height: 180px;
	padding: 0 0 0 200px;
	margin: 0 0 40px;
	a{
		color: $color1;
		text-decoration: none;
		display: block;
	}
	h1{
		color: $color2;
		font-size: font-size( 20 );
		text-decoration: underline;
		margin: 0 0 .5em;
	}
	p{
		margin: 0 0 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.mod-sponsor-image{
	position: absolute;
	top:0;
	left: 0;
	img{
		display: block;
		border: 1px solid #838988;
		border-radius: 6px;
	}
}
/* ==========================================================================
   mod-gmap
   ========================================================================== */
.mod-gmap{
	display: block;
	margin: 1em 0;
	iframe{
		display: block;
	}
	p{
		margin: .3em 0 0;
	}
}

