.sponsors {
    clear: both;
    padding: 30px 60px 0 20px;
}

.sponsors nav ul {
    list-style: none;
}

.sponsors nav ul li {
    display: inline-block;
    margin-right: 30px;
    border: 5px solid #ccc;
}

.sponsors nav ul li a {
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.sponsors nav ul li a {
    font-size: 20px;
}

.sponsors h2 {
    font-size: 24px;
}

.sponsors > p.topnavilink {
    clear: both;
    font-size: 14px;
    text-align: right;
}

.sponsors .sponsor li {
    clear: both;
    padding-top: 10px;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.sponsors .sponsor li .imgBox {
    float: left;
    margin-right: 20px;
}

.sponsors .sponsor li .imgBox img {
    border: 5px solid #eee;
}

.sponsors .sponsor li h3 {
    font-size: 20px;
}

.sponsors .sponsor li p {
    font-size: 14px;
}

