.sponsors {
    clear: both;
    padding: 30px 60px 0 20px;
}

.sponsors nav ul {
    list-style: none;
    margin: 0 auto;
}

.sponsors nav ul li {
    display: inline-block;
    margin: 0 3px;
}

.sponsors nav ul li a {
    display: inline-block;
    width: 185px;
    padding: 10px 5px;
    color: #ffffff;
    background-color: #336633;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.sponsors h2 {
    margin-bottom: 20px;
    padding-top: 6px;
    padding-left: 55px;
    color: #ffffff;
    background-color: #336633;
    background-position: 10px 3px;
    background-repeat: no-repeat;
    font-size: 28px;
}

#platinum h2 {
  background-image: url('../images/sponsors/platinum.png');
}

#gold h2 {
  background-image: url('../images/sponsors/gold.png');
}

#silver h2 {
  background-image: url('../images/sponsors/silver.png');
}

#supporter h2 {
  background-image: url('../images/sponsors/supporter.png');
}

.sponsors h2 span {
  font-size: 18px;
}

.sponsors p.topnavilink {
    clear: both;
    font-size: 14px;
    text-align: right;
}

.sponsors .sponsor {
    clear: both;
    margin: 10px 0;
}

.sponsors .sponsor li {
    clear: both;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #eeffee;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.sponsors .sponsor li .imgBox {
    float: left;
    width: 160px;
    text-align: center;
}

.sponsors .sponsor li .imgBox img {
    background-color: #ffffff;
    border: 3px solid green;
}

.sponsors .sponsor li h3 {
    margin-bottom: 10px;
    padding-left: 5px;
    border-bottom: 2px solid #336633;
    font-size: 24px;
    font-weight: bold;
}

.sponsors .sponsor li p {
    font-size: 14px;
}

.sponsors .sponsor li p a {
    text-decoration: underline;
}

.sponsors .sponsor li .sponsorLink {
    clear: both;
    text-align: right;
}

.sponsors .sponsor li .sponsorLink a {
    font-size: 14px;
    text-decoration: underline;
}

#sponsorsListVertical {
    border-left: 2px dotted green;
}

#sponsorsListVertical li {
}
