#sponsors {
    margin-top: 30px;
    clear: both;
}

#sponsors h2 {
    margin-bottom: 20px;
    padding: 10px 0 10px 55px;
    color: #ffffff;
    background-color: #336633;
    background-position: 10px 3px;
    background-repeat: no-repeat;
    font-size: 28px;
}

#platinum h2 {
  padding-right: 20px;
  background-image: url('../images/sponsors/platinum.png');
}

#gold h2 {
  padding-right: 50px;
  background-image: url('../images/sponsors/gold.png');
}

#silver h2 {
  background-image: url('../images/sponsors/silver.png');
}

#supporter h2 {
  background-image: url('../images/sponsors/supporter.png');
}

#platinum {
  float: left;
  margin-right: 30px;
}

#gold {
  float: left;
}

#silver {
  clear: both;
}

#sponsors h2 span {
  font-size: 18px;
}

#sponsors ul {
    margin: 10px 0 20px 0;
    list-style: none;
}

#sponsors ul li {
    display: inline-block;
    padding: 10px;
}

#sponsors ul li img {
    background-color: #ffffff;
    border: 2px solid green;
}