#left {
  float: left;
  width: 640px;
}

#right {
  width: 210px;
  margin-left: 660px;
}

#sponsors {
    width: 180px;
    margin-left: 20px;
    background-color: #eeffee;
}

#sponsors h2 {
    margin-bottom: 20px;
    padding: 5px 0;
    color: #ffffff;
    background-color: #336633;
    background-position: 10px 3px;
    background-repeat: no-repeat;
    font-size: 18px;
    text-align: center;
}

#sponsors h2 span {
  font-size: 18px;
}

#sponsors ul {
    width: 140px;
    margin: 10px auto 20px auto;
    list-style: none;
}

#sponsors ul li {
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

#sponsors ul li img {
    background-color: #ffffff;
    border: 2px solid green;
}
