/* リセット START */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
body {
	border-top: solid 4px #333;
	font-size: 12px;
	color: #333;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* リセット END */

body {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "メイリオ", Meiryo, "ＭＳ 明朝", sans-serif;
}
section, article, aside, footer, header, nav, hgroup {
  display:block;
}


header {
}
#wrapper {
	width: 920px;
	margin: 0 auto;
}

h1#logo {
	float: left;
	margin: 15px 0 20px 20px;
	height: 80px;
}

#headerInfo {
	float: right;
	margin: 0 50px 0 0;
}

/* ソーシャルメディアボタン START */
#social {
	float: right;
	margin-bottom: -90px;
}
#twitter {
	position: relative;
	width: 130px;
	right: 220px;
}

#fb {
	position: relative;
	width: 100px;
	right: 90px;
	top: -24px;
}

#hatena {
	position: relative;
	right: -15px;
	top: -48px
}
/* ソーシャルメディアボタン END */

/* ナビゲーション START */
.nav-box {
	margin: 10px auto;
	font: 18px, cursive;
}

#nav { 
	margin: 0 auto; 
	list-style: none; 
	position: relative; 
	width: 920px; 
	clear: both;
	background: url('../images/navBg.png');
	background-repeat: no-repeat;
	height: 92px;
}

#nav li { 
	display: inline-block;
	padding-top: 21px;
}

#nav a {
	color: #888; 
	float: left;
	padding: 9px 10px 0px 10px;
	text-decoration: none;
}
#nav a:hover {
	color: #000;
}

#nav img {
  display: block;
  width: 120px;
  height: 24px;
  margin: 0;
  padding: 0;
}

#nav span {
	font-size: 9px;
	font-weight: bold;
	display: block;
	text-align: center;
}

.current_page_item a { 
	color: #000 !important; 
}
/* ナビゲーション END */

/* スライダー START */
#sliderBg {
	background: url('../images/slider.png');
	background-repeat: no-repeat;
	font-size: 14px;
	color: #fff;
	height: 160px;
}

#sliderText {
	margin-left: 70px;
  padding-top: 27px;
	width: 600px;
}

#sliderOwner {
    margin-top: -80px;
	margin-left: 753px;
	font-weight: bold;
	color: #000;
	width: 120px;
	text-align: center;
}
#sliderOwner span {
	font-size: 11px;
	font-weight: normal;
}
/* スライダー END */

/* columns&rows */
#col1 {
	clear: both;
	float: left;
	width: 580px;
}
#col2 {
	margin-left: 600px;
	margin-top: 9px;
	width: 290px;
}

#row1, #row2, #row3 {
	float: left;
	clear: both;
	width: 580px;
	margin-bottom: 21px;
}

#row2 .speaker {
	clear: both;
	float: left;
}

.speaker h3 {
	font-size: 14px;
}

#row2 h3 {
	margin: 0;
	font-weight: bold;
}

#row2 .imgBox {
	float: left;
	width: 130px;
	height: 130px;
	margin: 0 15px 20px 0;
}
#row2 .imgBox img{
	width: 100%;
}

#news {
	margin-bottom: 20px;
}

#news ul {
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
}

#news ul li {
	margin-bottom: 8px;
}

#news span.date {
	font-size: 9px;
	font-weight: bold;
	color: green;
	display: block;
}

h2 {
	font-size: 21px;
	padding-bottom: 5px;
}
h2 span {
	font-size: 11px;
	font-weight: bold;
	position: relative;
	right: 0px;
}

/* columns&rows END */

/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

/* フッター START */
footer {
	clear: both;
	padding-top: 14px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin: 25px 0 40px 0;
	background: url('../images/footerLine.png');
	background-repeat: no-repeat;
}
/* フッター END */