<div class="l-fireworks" role="application">
  <div class="view3d" id="fireworks">
    <div class="view3d__inner">
      <div class="view3d__cursor">
        <div class="view3d__textField">
          <input maxlength="24">
        </div>
      </div>
    </div>
  </div>
</div>
