<header class="l-header" role="banner">
  <div class="l-header__inner">
    <div class="l-header__logo">
    <h1 class="logo"><a href="/2014/"><img src="/2014/img/logo.svg" width="210" height="90" alt="東京Node学園祭2014"></a></h1>
    </div>
    <div class="l-header__utility">
      <div class="l-header__info">
        <ul class="scheduleInfo">
          <li>
            <span class="scheduleInfo__title">日時</span>
            <span class="scheduleInfo__content"><time datetime="2014-11-15">2014年11月15日(土)</time> <time>13:00</time>-<time>18:00</time>(予定)/後夜祭<time>18:30</time>-</span>
          </li>
          <li>
            <span class="scheduleInfo__title">会場</span>
            <span class="scheduleInfo__content">株式会社サイバーエージェント セミナールーム</span>
          </li>
        </ul>
      </div>
      <nav class="l-header__nav" role="navigation">
        <ul class="nav">
          <li class="nav__item"><a href="/2014/"><i class="icon icon-home"></i><div>Home</div></a></li>
          <li class="nav__item nav__item--disabled"><a><i class="icon icon-session"></i><div>Session</div></a></li>
          <li class="nav__item nav__item--disabled"><a href="/2014/speaker.html"><i class="icon icon-speaker"></i><div>Speaker</div></a></li>
          <li class="nav__item nav__item--disabled"><a><i class="icon icon-sponsor"></i><div>Sponsor</div></a></li>
          <li class="nav__item"><a href="/2014/access.html"><i class="icon icon-access"></i><div>Access</div></a></li>
          <li class="nav__item nav__item--disabled nav__item--entry"><a><i class="icon icon-entry"></i><div>Entry<i class="nav__textIcon icon icon-external"></i></div></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="l-header__help">
    <div class="help">
      <div class="help__button">?</div>
      <ul class="help__list">
        <li>
          <i class="help__icon icon icon-fireworks"></i>
          <p class="help__text">Enterで入力フォームが出現し、テキスト入力後のEnterで花火が打ち上がります。</p>
        </li>
        <li>
          <i class="help__icon icon icon-drag"></i>
          <p class="help__text">ドラッグで様々な角度から、みんなの花火を観察できます。</p>
        </li>
      </ul>
    </div>
  </div>
</header>
