  <section class="section section--sponsors" id="sponsors">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Sponsores<span class="section__titleDescription"> - スポンサー</span></h2>
    </header>
    <div class="section__content">
      <ul class="bannerList">
        <li>
          <a href="http://dena.com/"><img src="/2014/img/sponsor/dena.png" alt="株式会社ディー・エヌ・エー" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://info.dwango.co.jp/"><img src="/2014/img/sponsor/dwango.png" alt="株式会社ドワンゴ" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://www.microsoft.com/ja-jp/default.aspx"><img src="/2014/img/sponsor/microsoft.png" alt="日本マイクロソフト株式会社" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://otakumode.com/"><img src="/2014/img/sponsor/otakumode.png" alt="Tokyo Otaku Mode Inc." width="160" height="100"></a>
        </li>
        <li>
          <a href="http://uniba.jp/"><img src="/2014/img/sponsor/uniba.png" alt="ユニバ株式会社" width="160" height="100"></a>
        </li>
        <li>
          <a href="https://www.cyberagent.co.jp/"><img src="/2014/img/sponsor/cyberagent.png" alt="株式会社サイバーエージェント" width="160" height="100"></a>
        </li>
        <li>
           <a href="http://recruit-tech.co.jp/"><img src="/2014/img/sponsor/recruit.png" alt="リクルートテクノロジーズ" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://mb.cloud.nifty.com/"><img src="/2014/img/sponsor/nifty.png" alt="ニフティ株式会社" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://www.pxgrid.com/"><img src="/2014/img/sponsor/pxgrid.png" alt="株式会社ピクセルグリッド" width="160" height="100"></a>
        </li>
        <li>
          <a href="http://automattic.com/"><img src="/2014/img/sponsor/automattic.png" alt="Automattic" width="160" height="100"></a>
        </li>
        <li>
          <a href="https://www.digitalocean.com/"><img src="/2014/img/sponsor/digitalocean.png" alt="Digital Ocean" width="160" height="100"></a>
        </li>
      </ul>
    </div>
  </section>
