  <section class="section section--sponsors" id="sponsors">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Sponsores<span class="section__titleDescription"> - スポンサー</span></h2>
    </header>
    <div class="section__content">
      <ul class="bannerList">
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
        <li>
          <a href="{}"><img src="http://dummyimage.com/160x100" alt="" width="160" height="100"></a>
        </li>
      </ul>
    </div>
  </section>
