<header class="mod-pageHeader">
	<div class="mod-pageHeader-banner"><div class="mod-pageHeader-bannerInner">
		<div class="mod-pageHeader-logo"><a href="./"><img src="assets/img/mod-pageHeader/logo_01.png" alt="東京Node学園祭2012" width="650" height="102"></a></div>
		<div class="mod-pageHeader-text">
			<img src="assets/img/mod-pageHeader/txt_01.png" alt="Tokyo Node Fest." width="182" height="28">
			2012<span>年</span>11<span>月</span>18<span>日(日)</span> 10:00-17:30<span>(予定)</span><br>
			<span>後夜祭</span>18:00-<br>
			法政大学 市ヶ谷キャンパス 外濠校舎
		</div>
	</div></div>
	<div class="mod-pageHeader-socialButtons"><div class="mod-pageHeader-socialButtonsInner">
	</div></div>
	<nav>
		<ul>
			<li><a href="index.html"><img src="assets/img/mod-pageHeader/nav_01_{% if page.name == 'index' %}a{% else %}n{% endif %}.png" alt="home" width="430" height="52"></a></li>
			<li><a href="session.html"><img src="assets/img/mod-pageHeader/nav_02_{% if page.name == 'session' %}a{% else %}n{% endif %}.png" alt="session" width="430" height="52"></a></li>
			<li><a href="speakers.html"><img src="assets/img/mod-pageHeader/nav_03_{% if page.name == 'speakers' %}a{% else %}n{% endif %}.png" alt="speakers" width="430" height="52"></a></li>
			<li><a href="sponsors.html"><img src="assets/img/mod-pageHeader/nav_04_{% if page.name == 'sponsors' %}a{% else %}n{% endif %}.png" alt="sponsors" width="430" height="52"></a></li>
			<li><a href="access.html"><img src="assets/img/mod-pageHeader/nav_05_{% if page.name == 'access' %}a{% else %}n{% endif %}.png" alt="access" width="430" height="52"></a></li>
			<li><a href="ticket.html"><img src="assets/img/mod-pageHeader/nav_06_{% if page.name == 'ticket' %}a{% else %}n{% endif %}.png" alt="ticket" width="430" height="52"></a></li>
		</ul>
	</nav>
<!-- /.mod-pageHeader --></header>
