<section class="mod-sponsors">
	<div class="mod-sponsors-header">
		<div class="mod-sponsors-eyecatch"><img src="assets/img/mod-sponsors/img_01.png" alt="sponsors" height="46" width="40"></div>
		<h1>スポンサー紹介</h1>
	</div>

	<h2>Platinum Sponsors</h2>
	<ul>
		<li><a href="#"><img src="http://placehold.us/230x125" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/230x125" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/230x125" alt=""></a></li>
	</ul>
	<h2>Gold Sponsors</h2>
	<ul>
		<li><a href="#"><img src="http://placehold.us/190x70" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/190x70" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/190x70" alt=""></a></li>
	</ul>
	<h2>Silver Sponsors</h2>
	<ul>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
	</ul>
	<h2>Supporters</h2>
	<ul>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
		<li><a href="#"><img src="http://placehold.us/150x50" alt=""></a></li>
	</ul>
<!-- /..mod-sponsors --></section>