<div class="mod-twitterWedget">
  <div class="mod-twitterWedget-timeline">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#nodefest',
  interval: 30000,
  title: '#nodefest',
  subject: '東京Node学園祭2012',
  width: 290,
  height: 330,
  theme: {
    shell: {
      background: '#546c22',
      color: '#fff52d'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#556c22'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().start();
</script>
</div>

<a href="https://twitter.com/nodefest" class="twitter-follow-button" data-show-count="false" data-lang="ja">@nodefestさんをフォロー</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
