<section class="mod-sponsors">
	<div class="mod-sponsors-header">
		<div class="mod-sponsors-eyecatch"><img src="assets/img/mod-sponsors/img_01.png" alt="sponsors" height="46" width="40"></div>
		<h1>スポンサー紹介</h1>
	</div>

	{% for sponsor in site.sponsors %}
	<h2>{{ sponsor.label }}</h2>
	<ul>
		{% for company in sponsor.companies %}
		<li><a href="{{ company.url }}"><img src="assets/img/logo/{{ company.img }}" alt="{{ company.name }}"></a></li>
		{% endfor %}
	</ul>
	{% endfor %}
<!-- /..mod-sponsors --></section>
