  <footer class="footer">

    <div class="contentinfo">
      <div class="contentinfo-inner">
        <img src="img/logo-node-invert.svg" alt="node.js" class="contentinfo-logo">
        <ul class="contentinfo-links">
          <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
          <li><a href="http://nodefest.jp/2016/" target="_blank">Node Fest. 2016</a></li>
          <li><a href="http://nodejs.jp/" target="_blank">Node.js Japan User Group</a></li>
          <li><a href="coc.html" target="_blank">Code of Conduct</a></li>
        </ul>
        <p class="copyright">© 2016 東京Node学園祭 実行委員会 <span class="copyright-usergroup">Node.js 日本ユーザグループ</span></p>
        <p class="createby">This Web site was created by @hiloki and PixelGrid, Inc.
        </p>
      </div>
    </div>
  </footer>
  <script src="main.js"></script>
  </body>
</html>
