<dom-module id="nf-site-footer">
  <style>
    :host {
      display: block;
      padding: 50px 0 70px;
      background: #FFFFFF;
    }
    .nf-site-footer__inner {
      border-bottom: 1px solid #B6B6B6;
    }
    .nf-site-footer__cols {
      width: 940px;
      margin: 0 auto;
      display: table;
    }
    .nf-site-footer__cols--top {
      margin-bottom: 20px;
    }
    .nf-site-footer__cols--bottom {
      margin-bottom: -30px;
    }
    .nf-site-footer__col {
      display: table-cell;
      vertical-align: bottom;
    }
    .nf-site-footer__col:last-child {
      text-align: right;
    }
  </style>
  <template>
    <footer>
      <div class="nf-site-footer__inner">
        <div class="nf-site-footer__cols nf-site-footer__cols--top">
          <div class="nf-site-footer__col">
            <nf-nodejs-logo></nf-nodejs-logo>
          </div>
          <div class="nf-site-footer__col">
            <nf-link-list></nf-link-list>
          </div>
        </div>
        <div class="nf-site-footer__cols nf-site-footer__cols--bottom">
          <div class="nf-site-footer__col">
            <nf-copyright></nf-copyright>
          </div>
          <div class="nf-site-footer__col">
            <nf-created-by></nf-created-by>
          </div>
        </div>
      </div>
    </footer>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-site-footer',
      properties: {}
    });
  })();
</script>
