<dom-module id="nf-site-header">
  <style is="custom-style">
    :host {
      width: 100%;
    }
    .nf-site-header__cols {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-pack: space-between;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .nf-site-header__col--1 {
      margin: 0 20px 0 10px;
    }
    .nf-site-header__col--2 {
      -ms-flex: 1 1 0.000000001px;
      -webkit-flex: 1;
      flex: 1;
    }
    .nf-site-header__col--3 {
      margin: 0 10px 0 20px;
    }

    .nf-ticket-link {
      position: relative;
      display: block;
      color: rgba(256, 256, 256, 0.3);
    }
    .nf-ticket-link:hover {
      color: #FFFF00;
    }
    .nf-ticket-link:hover .nf-ticket-link__tooltip {
      opacity: 1;
    }
    iron-icon.nf-ticket-link__icon {
      --iron-icon-height: 20px;
      --iron-icon-width: 20px;
      vertical-align: top;
    }
    .nf-ticket-link__tooltip {
      position: absolute;
      display: inline-block;
      top: 30px;
      right: 0;
      z-index: 100;
      opacity: 0;
      padding: 5px;
      background: rgba(97, 97, 97, 0.9);
      color: #FFFFFF;
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      transition: all 0.5s;
    }
    paper-tab {
      text-decoration: none;
      font-size: 16px;
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    paper-tab a {
      color: #FFFFFF;
      opacity: 30;
    }
    @media (min-width: 481px) and (max-width: 600px) {
      .nf-site-header__col--1 {
        margin: 0 0 0 10px !important;
      }
      .nf-site-header__col--3 {
        margin: 0 10px !important;
      }
    }
    @media (max-width: 480px) {
      .nf-site-header__col--1 {
        margin: 0 -10px 0 5px !important;
      }
      .nf-site-header__col--3 {
        margin: 0 5px !important;
      }
      paper-tab {
        font-size: 14px !important;
      }
    }
  </style>
  <template>
    <div class="nf-site-header__cols">
      <div class="nf-site-header__col nf-site-header__col--1">
        <nf-app-logo></nf-app-logo>
      </div>
      <div class="nf-site-header__col nf-site-header__col--2">
        <paper-tabs id="js-nf-tabs" selected="0">
          <paper-tab link>
            <a href="#!/about" class="horizontal center-center layout" title="概要">About</a>
          </paper-tab>
          <paper-tab link>
            <a href="#!/schedule" class="horizontal center-center layout" title="スケジュール">Schedule</a>
          </paper-tab>
          <paper-tab link>
            <a href="#!/speakers" class="horizontal center-center layout" title="講演者">Speakers</a>
          </paper-tab>
          <paper-tab link>
            <a href="#!/venue" class="horizontal center-center layout" title="アクセス">Venue</a>
          </paper-tab>
          <paper-tab link hidden>
            <a href="#!/coc" class="horizontal center-center layout">Code of Conduct</a>
          </paper-tab>
        </paper-tabs>
      </div>
      <div class="nf-site-header__col nf-site-header__col--3">
        <a class="nf-ticket-link" href="http://nodejs.connpass.com/event/20741/" target="_blank">
          <iron-icon icon="svg-icons:ticket" class="nf-ticket-link__icon"></iron-icon>
          <div class="nf-ticket-link__tooltip">チケット購入</div>
        </a>
      </div>
    </div>
  </template>
</dom-module>
<script>
  (function () {
    Polymer({
      is: 'nf-site-header',
      properties: {},
      ready: function() {
      }
    });
  })();
</script>
