<dom-module id="nf-twitter-timeline">
  <style>
    :host {
      display: block;
      height: 350px;
      background: #333333;
    }
  </style>
  <template>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/nodefest" data-widget-id="637776288254586880">#nodefest のツイート</a>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'nf-twitter-timeline',
        properties: {},
        ready: function() {
          // widgets.jsは、<nf-social-parts />で読んでるからココでは読まない
        }
      });
    })();
  </script>
</dom-module>
