@import "libs/reset";

// Color
$color-whitefog: #FFFEF7;
$color-creamhaze: #EEEDDB;
$color-greymist: #BCBBA9;
$color-deepnight: #00111C;
$color-sunred: #D75A43;
$color-leaf: #80BD01;
$color-grass: #61A347;
$color-forest: #3F6630;
$color-sea: #3F60A9;
$color-navy: #152A58;
$color-sand: #EADA96;
$color-sunflower: #F9E057;
$color-inky: #263238;

// Type
$type-base: -apple-system, Helvetica Neue, Hiragino Sans,"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;;
$line-flat: 1;
$line-normal: 1.618;
$line-roomy: 1.618 * 1.2;

// Width
$width-container: 64rem;
$width-textblock: 48rem;
$width-intro: 724px;
$width-gutter: 24px;

// Screen
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;

@mixin under-sm {
  @media (max-width: $screen-phone - 1px) {
    @content;
  }
}
@mixin over-sm {
  @media (min-width: $screen-phone) {
    @content;
  }
}
@mixin over-md {
  @media (min-width: $screen-tablet) {
    @content;
  }
}
@mixin over-lg {
  @media (min-width: $screen-desktop) {
    @content;
  }
}

@mixin visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Base

body {
  line-height: $line-normal;
  font-family: $type-base;
  background-color: $color-whitefog;
  color: $color-inky;
  overflow-x: hidden; // DEV
  @include over-md {
    background-image: linear-gradient(150deg, $color-whitefog 0%, $color-greymist 50%, $color-inky 75%, $color-deepnight 100%),url('img/bg-shibuya2-color.jpg');
    background-size: cover, cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-blend-mode: screen, normal;
    background-attachment: fixed;
  }
}

a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}


// Container
//.Container {
//  margin-left: auto;
//  margin-right: auto;
//  padding-left: $width-gutter;
//  padding-right: $width-gutter;
//  max-width: $width-container;
//}

// Section
//.Section {
//  margin-bottom: 4rem;
//  @include over-sm {
//    margin-bottom: 6rem;
//  }
//  @include over-md {
//  }
//}
//.Section-title {
//  margin-bottom: 1.5rem;
//  line-height: 1;
//  text-align: center;
//  letter-spacing: 0.064em;
//  font-weight: 100;
//  font-size: 3rem;
//  color: $color-sand;
//  @include over-sm {
//    margin-bottom: 2.5rem;
//    font-size: 3rem;
//  }
//  @include over-md {
//    font-size: 4rem;
//  }
//}
//.Section-body {}

// Button
.Button {
  display: block;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
  padding: 0.75em;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 100;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 300ms ease-in;
  &.-primary {
    border-color: $color-sunred;
    background-color: $color-sunred;
  }
  &.-cfp {
    &:hover {
      border-color: $color-grass;
      background-color: $color-grass;
    }
  }
  &.-cfs {
    &:hover {
      border-color: $color-navy;
      background-color: $color-navy;
    }
  }
  &.is-disabled {
    border-color: $color-greymist;
    background-color: $color-greymist;
    color: $color-deepnight;
    text-decoration: line-through;
    &:hover {
      text-decoration: line-through;
    }
  }
  &.-invert {
    border-color: $color-navy;
    color: $color-navy;
    &.-cfs {
      &:hover {
        border-color: $color-navy;
        background-color: $color-navy;
        color: white;
      }
    }
  }
  &:hover {
    text-decoration: none;
  }
  @include over-sm {
    //display: inline-block;
    //width: 15em;
    font-size: 1.6rem;
  }
}

// Hexagon
$hex-ratio: 1.154;
$hex-canvas: 362;
$hex-image: $hex-canvas * $hex-ratio;

.Hex {
  display: inline-block;
  width: $hex-canvas + px;
  vertical-align: top;
}
.Hex-outer {
  width: 100%;
  height: 0;
  padding-bottom: percentage($hex-ratio);
  display: block;
  transform-origin: 50% 50%;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  position: relative;
}
.Hex-inner {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: skewY(-30deg) rotate(60deg);
}
.Hex-image {
  width: $hex-image + px;
  height: $hex-image + px;
  transform: translateX(($hex-image - $hex-canvas)/2 * -1px);
}

// Global navigation
.globalNav {
  display: none;
  @include over-md {
    display: block;
    position: relative;
    z-index: 1;
    &.-index {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
.globalNav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-container;
  height: 5rem;
  font-size: 0.25rem;
  > * {
    letter-spacing: 0.08em;
  }
  @include over-md {
    font-size: 1rem;
  }
}

.globalNav-target {
  display: block;
  padding: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-sunred;
  &.-button {
    min-width: 128px;
    border: 2px solid currentColor;
  }
}

// Toppage Header
.cover {
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(150deg, rgba($color-whitefog,0.5) 0%, rgba($color-greymist,0.5) 50%, rgba($color-inky,0.5) 75%, rgba($color-deepnight,0.5) 100%),url('img/bg-shibuya2-color.jpg');
  background-size: cover, cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-blend-mode: screen, normal;
  @include over-md {
    overflow: visible;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background: none;
    position: relative;
    min-height: 100vh;
  }
}

.cover-logo {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
  display: block;
  border: 5px solid $color-inky;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 224px;
  height: 224px;
  mix-blend-mode: multiply;
  @include over-md {
    border: 10px solid $color-inky;
    margin: 8rem auto 0;
    padding: 16px;
    width: 448px;
    height: 448px;
  }
}
.cover-outline {
  position: relative;
  display: block;
  &:before {
    content: "あああ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-image: linear-gradient(135deg,$color-forest 0%, $color-grass 30%);
    transform: translate(2rem,-4rem) rotate(45deg);
    //mix-blend-mode: multiply;
  }
  @include over-md {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    z-index: 1;
    &:before {
      content: none;
    }
  }
}
.cover-mountain {
  display: none;
  @include over-md {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 0;
    z-index: 1;
    margin-left: 14rem;
    margin-top: -24rem;
    opacity: 0.925;
    transform: translateX(-50%);
    width: 160rem * $hex-ratio;
    height: 160rem;
  }
}

// Outline
.outline {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-container;
  text-align: center;
  position: relative;
  z-index: 1;
  @include over-md {
    text-align: right;
  }
}
.outline-body {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  letter-spacing: 0.16em;
  color: $color-whitefog;
  @include over-md {
    padding-top: 4rem;
    height: 12rem;
    line-height: 1;
  }
}
.outline-date {
  text-transform: uppercase;
}
.outline-date,
.outline-location {
  //margin-bottom: 0.5rem;
  font-weight: 100;
  font-size: 1rem;
  //@include over-sm {
  //}
  //@media (min-width: 590px) { // Minor Breakpoint
  //}
  @include over-md {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
.outline-name {
  //margin-bottom: 0.5rem;
  font-weight: 100;
  font-size: 2rem;
  //@include over-sm {
  //}
  //@media (min-width: 590px) { // Minor Breakpoint
  //}
  @include over-md {
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }
}

// About
.about {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 1rem;
  background-image: linear-gradient(top,$color-grass 0%, $color-sand 60%, $color-whitefog 100%, rgba($color-whitefog,0) 100%);
  @include over-md {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0;
    background: none;
  }
}

.about-mountain {
  display: none; // DEV
  @include over-md {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 240rem;
    height: 240rem;
    margin-left: 14rem;
    margin-top: -12rem;
    transform: translateX(-50%);
    width: 240rem * $hex-ratio;
    height: 240rem;
  }
}

.about-content {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: $width-textblock;
  background-color: $color-whitefog;
  border: 10px solid $color-creamhaze;
  box-shadow: 10px 10px 0 rgba($color-deepnight,0.25);
  @include over-md {
    padding: 2rem;
  }
}
.about-title {
  line-height: $line-normal;
  letter-spacing: 0.08em;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color: $color-sunred;
  @include over-sm {
    font-size: 1.5rem;
  }
  @media (min-width: 590px) { // Minor Breakpoint
    font-size: 2rem;
  }
  @include over-md {
    font-size: 2.5rem;
  }
}
.about-body {
  font-size: 0.875rem;
  p {
    margin-top: 1em;
  }
  @include over-sm {
    font-size: 1rem;
    p {
      line-height: $line-roomy;
    }
  }
}

.tile {
  background-color: $color-whitefog;
  background-image: linear-gradient(top,
    rgba($color-whitefog,1) 0%,
    rgba($color-whitefog,0.8) 10%,
    //rgba($color-whitefog,1) 25%,
    rgba($color-whitefog,0.75) 50%,
    rgba($color-whitefog,0.8) 90%,
    rgba($color-whitefog,1) 100%
  ),
  url('img/bg-tile.svg');
  background-position: center top;
  background-size: auto, 64px auto;
  @include over-md {
    position: relative;
    z-index: 1;
    background-color: $color-whitefog;
    background-image: linear-gradient(top,
      rgba($color-whitefog,1) 0%,
      rgba($color-whitefog,0.8) 20%,
      //rgba($color-whitefog,1) 25%,
      rgba($color-whitefog,0.75) 50%,
      rgba($color-whitefog,0.8) 80%,
      rgba($color-whitefog,1) 100%
    ),
    url('img/bg-tile.svg');
    background-position: center top;
    background-size: auto, 64px auto;
  }
}

// Speakers
.speakers {
  $hex-speakers-canvas: 320;
  $hex-speakers-image: $hex-speakers-canvas * $hex-ratio;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .Hex {
    width: $hex-speakers-canvas + px;
  }
  .Hex-outer {
    padding-bottom: percentage($hex-ratio);
  }
  .Hex-image {
    width: $hex-speakers-image + px;
    height: $hex-speakers-image + px;
  }
  @include over-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  //@media (min-width: 590px) { // Minor Breakpoint
  //}
  //@media (min-width: 772px) { // Minor Breakpoint
  //}
}
.speakers-title {
  margin-bottom: 2.5rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
  color: $color-sunred;
  @include over-sm {
  }
  @media (min-width: 590px) { // Minor Breakpoint
  }
  @include over-md {
    margin-bottom: 4rem;
    font-size: 4em;
  }
}
.speakers-list {
  text-align: center;
  > * {
    margin-bottom: 1rem;
  }
  @include over-md {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: $width-container;
    > * {
      margin-bottom: 2rem;
    }
  }
}
.speaker {
  display: block;
  position: relative;
  overflow: hidden;
  .Hex-inner {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color-sunred,0.9);
      transform-origin: 50% 0;
      transform: rotate(-30deg) scaleX(1.5);
    }
    @supports (mix-blend-mode: multiply) {
      &::after {
        background-color: rgba($color-sunred,1);
        background-image: linear-gradient(-140deg, $color-sand 0%, $color-sunred 100%);
        mix-blend-mode: multiply;
      }
    }
  }
  @include over-md {
  }
}
.speaker-info {
  //display: none; // DEV
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-whitefog;
}
.speaker-name {
  letter-spacing: 0.064em;
  font-size: 1.5rem;
  font-weight: 100;
  @include over-md {
    font-size: 1.75rem;
  }
}
.speaker-links {
  letter-spacing: 0.064em;
  font-weight: 200;
  font-size: 1.25rem;
  @include over-md {
    font-size: 1rem;
  }
}
.speaker-image {
}

// Schedules
.schedule {}
.schedule-title {
  margin-bottom: 2.5rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
  color: $color-sunred;
  @include over-sm {
  }
  @media (min-width: 590px) { // Minor Breakpoint
  }
  @include over-md {
    margin-bottom: 4rem;
    font-size: 4em;
  }
}
.schedule-body {
  padding-left: 1rem;
  padding-right: 1rem;
  @include over-md {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: $width-container;
  }
}
.schedule-section {
  margin-bottom: 2rem;
  background-color: $color-whitefog;
  border: 10px solid $color-creamhaze;
  padding: 1rem;
  box-shadow: 10px 10px 0 rgba($color-deepnight,0.25);
  @include over-md {
    padding: 2rem;
  }
}

// Time table
.timetable {}
.timetable-header,
.timetable-row {
  display: flex;
  font-size: 1rem;
  @include over-md {
    font-size: 1.5rem;
  }
}
.timetable-header {
  padding-top: 1rem;
  position: relative;
  font-size: 1rem;
  @include over-md {
    padding-top: 2.5rem;
    font-size: 1.5rem;
  }
}
.timetable-venue {
  box-sizing: border-box;
  position: absolute;
  top: -1rem;
  left: -1rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color: $color-inky;
  @include over-md {
    top: -2rem;
    left: 0rem;
    padding: 1.5rem 1rem;
    font-size: 3rem;
  }
}
.timetable-day {
  box-sizing: border-box;
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
  color: $color-inky;
  @include over-md {
    top: -2rem;
    right: -2rem;
    padding: 1.5rem 1rem;
    font-size: 3rem;
  }
}
.timetable-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 6rem;
  height: 6rem * (104 / 181);
  @include over-md {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 12rem;
    height: 12rem * (104 / 181);
  }
}
.timetable-row {
  border-top: 2px solid $color-sand;
}
.timetable-caption,
.timetable-time {
  flex: 0 0 6rem;
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: 700;
  @include over-md {
    flex: 0 0 12rem;
    padding: 1rem;
  }
}
.timetable-section,
.timetable-content {
  padding: 0.5rem 0 0.5rem 1rem;
  flex: 1 1 100%;
  @include over-md {
    padding: 1rem;
    flex: 1 1 100%;
    display: flex;
    > * {
      flex: 1 1 100%;
    }
  }
}

// Venue
.venue {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: $width-container;
  @include over-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.venue-title {
  margin-bottom: 2.5rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
  color: $color-sunred;
  @include over-sm {
  }
  @media (min-width: 590px) { // Minor Breakpoint
  }
  @include over-md {
    margin-bottom: 4rem;
    font-size: 4em;
  }
}
.venue-body {
  padding-left: 1rem;
  padding-right: 1rem;
  @include over-md {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: $width-container;
  }
}
.venue-map {
  display: block;
  overflow: hidden;
  margin: 0 auto 1rem;
  max-width: $width-container;
  height: 384px;
  background-color: $color-whitefog;
  border: 10px solid $color-creamhaze;
  box-shadow: 10px 10px 0 rgba($color-deepnight,0.25);
  .gm-style-iw * {
    display: block;
    width: 100%;
  }
  .gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
  }
  .gm-style-iw a {
    color: #4272db;
  }
  @include over-md {
    height:448px;
  }
}
.venue-detail {
  @include over-md {
    display: flex;
    > * {
      flex: 1 1 50%;
    }
  }
}
.venue-access {
  box-sizing: border-box;
  padding: 1rem 0;
  @include over-md {
    padding: 1rem;
  }
}
.venue-icon {
  width: auto;
  height: 1.5em;
  vertical-align: middle;
  @include over-md {
    height: 1.25em;
  }
}
.venue-name {
  margin-bottom: 1rem;
  letter-spacing: 0.08em;
  font-weight: 100;
  font-size: 1rem;
  @include over-md {
    font-size: 1.25rem;
  }
}
.venue-address {}


// Ticktets
.tickets {
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba($color-sand,0.5);
  @include over-md {
    background-color: transparent;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.tickets-action {
  text-align: center;
  padding: 1rem;
  .Button {
    display: block;
    padding: 1em 2em;
    font-size: 1.5em;
  }
  @include over-md {
    padding: 0;
    .Button {
      padding: 1em 2em;
      font-size: 2.5em;
    }
  }
}
.tickets-body {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-container;
}
.tickets-mountain {
  display: none; // DEV
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: -1;
  width: 240rem;
  height: 240rem;
  margin-left: 14rem;
  opacity: 0.8;
  transform: translateX(-50%);
  @include over-md {
    display: block;
    width: 240rem * $hex-ratio;
    height: 240rem;
  }
}

// Sponsors
.sponsors {
  position: relative;
  z-index: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: white;
  color: $color-deepnight;
  //@include over-sm {
  //}
  @include over-md {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  //@include over-lg {
  //}
}
.sponsors-title {
  margin-bottom: 2.5rem;
  line-height: $line-flat;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
  color: $color-sea;
  @include over-sm {
  }
  @media (min-width: 590px) { // Minor Breakpoint
  }
  @include over-md {
    margin-bottom: 4rem;
    font-size: 4em;
  }
}
.sponsors-grade {
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.064em;
  font-size: 1.5rem;
  color: $color-greymist;
  @include over-sm {
    font-size: 1.25rem;
  }
  @include over-md {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
.sponsors-list {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include over-md {
    margin-bottom: 1.5rem;
  }
}
.sponsors-lead {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: $line-roomy;
  text-align: center;
  font-size: 0.875rem;
  @include over-sm {
    font-size: 1rem;
  }
  @include over-md {
    margin-bottom: 1.5rem;
  }
}
.sponsors-action {
  .Button {
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    font-size: 1rem;
  }
  @include over-md {
    .Button {
      font-size: 1.5rem;
      max-width: 360px;
    }
  }
  @include over-lg {
    .Button {
      font-size: 2rem;
    }
  }
}
.sponsor {
  text-align: center;
}
.sponsor-name {
}
.sponsor-banner {
  $sponsor-banner-platinum: 560px;
  $sponsor-banner-gold: 480px;
  $sponsor-banner-silver: 360px;
  $sponsor-banner-media: 320px;
  display: inline-block;
  padding: 1rem;
  &.-platinum {
    > img {
      max-width: $sponsor-banner-platinum / 2;
    }
  }
  &.-gold {
    > img {
      max-width: $sponsor-banner-gold / 2;
    }
  }
  &.-silver {
    > img {
      max-width: $sponsor-banner-silver / 2;
    }
  }
  &.-media {
    > img {
      max-width: $sponsor-banner-media / 2;
    }
  }
  @include over-sm {
    &.-platinum {
      > img {
        max-width: $sponsor-banner-platinum / 1.25;
      }
    }
    &.-gold {
      > img {
        max-width: $sponsor-banner-gold / 1.5;
      }
    }
    &.-silver {
      > img {
        max-width: $sponsor-banner-silver / 1.75;
      }
    }
    &.-media {
      > img {
        max-width: $sponsor-banner-media / 1.5;
      }
    }
  }
  @include over-md {
    &.-platinum {
      > img {
        max-width: $sponsor-banner-platinum / 1.25;
      }
    }
    &.-gold {
      > img {
        max-width: $sponsor-banner-gold / 1.5;
      }
    }
    &.-silver {
      > img {
        max-width: $sponsor-banner-silver / 1.75;
      }
    }
    &.-media {
      > img {
        max-width: $sponsor-banner-media / 1.5;
      }
    }
  }
}


// Organizers
.organizers {
  margin-bottom: 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: rgba($color-navy,0.75);
  color: white;
  .Section-title {
    font-size: 2rem;
  }
  @include over-sm {
    padding: 2rem 1rem 2.5rem;
    .Section-title {
      font-size: 2.5rem;
    }
  }
  @include over-md {
    padding: 3rem 1rem 4rem;
  }
}
.organizers-list {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 0 0 50%;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  @include over-sm {
    > * {
      flex: 0 0 33.333%;
    }
  }
  @include over-md {
    > * {
      flex: 0 0 25%;
    }
  }
  @include over-lg {
    > * {
      flex: 0 0 20%;
    }
  }
}
.organizer {}
.organizer-name {
  text-align:left;
}

// Twitter
.twitter {
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    @include over-sm {
      font-size: 2rem;
    }
    @include over-md {
      font-size: 2rem;
    }
    &:hover {
      text-decoration: none;
      .twitter-icon {
        transform: rotate(15deg);
      }
    }
  }
}
.twitter-lead {
  line-height: 1;
  text-align: center;
  letter-spacing: 0.064em;
  font-weight: 100;
  color: white;
}
.twitter-link {
  margin-left: 1rem;
}
.twitter-icon {
  width: 1.25em;
  height: 1.25em;
  fill: white;
  vertical-align: -0.25em;
  transition: transform 300ms ease;
}

// CoC
.coc {}
.coc-title {
  font-size: 2rem;
  @include over-sm {
    font-size: 3rem;
  }
  @include over-md {
    font-size: 4rem;
  }
}
.coc-body {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-intro;
  font-size: 0.875rem;
  p {
    margin-bottom: 1em;
  }
  @include over-sm {
    font-size: 1rem;
    p {
      line-height: $line-roomy;
    }
  }
}
.coc__section {
  margin-bottom: 1.5rem;
  @include over-sm {
    margin-bottom: 2.5rem;
  }
  @include over-md {
  }
}
.coc__subtitle {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.064em;
  font-weight: 100;
  font-size: 1.25rem;
  color: $color-sand;
  @include over-sm {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
  }
  @include over-md {
    font-size: 2rem;
  }
}
.coc__footer {
  margin-bottom: 2rem;
  text-align: right;
  a {
    color: $color-sunflower;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

// Footer
.footer {
  overflow: hidden;
  padding: 1em 0;
  background-color: rgba($color-deepnight,0.75);
  color: white;
  font-size: 0.825rem;
  text-align: center;
  @include over-sm {
    font-size: 0.825rem;
  }
  @include over-md {
  }
  @include over-lg {
  }
}
.footer-logo {
  margin-bottom: 1em;
  width: 120px;
  height: 50px;
  @include over-md {
    float: left;
  }
  @include over-lg {
  }
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  > li {
    flex: 0 0 50%;
    a {
      display: block;
      padding: 0.25rem;
    }
  }
  @media (min-width: 590px) { // Minor Breakpoint
    > li {
      flex: 0 0 25%;
    }
  }
  @include over-md {
    float: right;
    > li {
      flex: 1 1 auto;
      vertical-align: middle;
      line-height: 50px;
      a {
        display: inline-block;
        padding: 0.25rem;
      }
      & + li {
        &::before {
          content: "|";
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
  }
  @include over-lg {
  }
}
.copyright {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  @include over-sm {
  }
  @include over-md {
    clear: both;
    float: left;
  }
  @include over-lg {
  }
}
.createby {
  font-size: 0.75rem;
  @include over-sm {
  }
  @include over-md {
    float: right;
    font-size: 0.875rem;
  }
  @include over-lg {
  }
}

// Utility
.u-vh {
  @include visuallyHidden;
}

.u-em {
  color: $color-sunred;
}

