---
nav: access
---
{{> first }}

<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Access</span>
			<span class="mod-heading-ja">会場へのアクセス</span>
		</h1>
	</div>

	<div class="mod-gmap">
		<iframe width="620" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?q=%5B%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E5%8C%97%E6%96%B0%E5%AE%BF2-21-1%5D+(%E3%83%8B%E3%83%95%E3%83%86%E3%82%A3%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%EF%BC%88%E6%96%B0%E5%AE%BF%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%BF%E3%83%AF%E3%83%BC%EF%BC%89)&z=15&iwloc=A&output=embed"></iframe>
		<p><a href="https://maps.google.co.jp/maps/ms?hl=ja&gl=jp&ie=UTF8&oe=UTF8&msa=0&msid=215474934037898151249.0004ad58e085dc6b4c4e9&t=m&z=17&vpsrc=1&brcurrent=3,0x6018f2d54c7438f5:0xcef1f602e10803f9,1" target="_blank">大きな地図で見る</a></p>
	</div>

	<p><strong>ニフティ株式会社 セミナールーム（新宿フロントタワー内）</strong><br>
	〒169-8333　東京都新宿区北新宿2-21-1　新宿フロントタワー（18階受付）</p>

	<div class="mod-heading2">
		<h2>最寄り駅からのアクセス</h2>
	</div>

	<div class="mod-heading3">
		<h3>東京メトロ丸ノ内線「西新宿」駅　下車　徒歩4分</h3>
	<!-- /.mod-heading3 --></div>
	<p>1番出口を出て右に曲がり、直進してください（左手が東京医大になります）。成子天神下の交差点を直進し、道路右側が新宿フロントタワーになります。</p>

	<div class="mod-heading3">
		<h3>東京メトロ丸ノ内線／都営大江戸線「中野坂上」駅　下車　徒歩8分</h3>
	<!-- /.mod-heading3 --></div>
	<p>A1出口を出て、中野坂上交差点から市ヶ谷、新宿方面に向かいます。淀橋交差点でＹ字の分岐するので右方面に進んでください。道路左側が新宿フロントタワーになります。</p>

	<div class="mod-heading3">
		<h3>JR線「新宿」駅　下車　徒歩15分</h3>
	<!-- /.mod-heading3 --></div>
	<p>JR線新宿駅西口に出てください。右側に小田急ハルク（ビックカメラが目印）と左側に新宿エルタワーに挟まれた道路を直進すると、都道４号線（青梅街道）に合流します。河合塾のビルを正面にし、交差点を左折して、都道四号線を西東京方面に直進してください。東京メトロ丸ノ内線「西新宿」駅を過ぎ、成子天神下の交差点を直進し、道路右側が新宿フロントタワーになります。</p>
	<p>※会場へは公共交通機関でお越し下さい</p>

	<div class="mod-heading2">
		<h2>問い合わせ先</h2>
	</div>
	<p>東京Node学園祭<br>実行委員会 E-mail：<a href="mailto:nodefest@nodejs.jp">nodefest@nodejs.jp</a></p>

</section>

{{> second }}
