---
nav: access
pageTitle: 'Access - '
pageDescription: 
---

  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Access<span class="section__titleDescription"> - 会場へのアクセス</span></h2>
    </header>
    <div class="section__content">
      <div class="image--outline map">
        <google-map latitude="35.657997" longitude="139.698080"
          zoom="17" fitToMarkers>
          <google-map-marker latitude="35.657997" longitude="139.698080"
          draggable="false" title="株式会社サイバーエージェント"></google-map-marker>
        </google-map>
      </div>
      <p><a href="">大きな地図で見る</a></p>
      <dl class="dfnList">
        <dt>株式会社 サイバーエージェントセミナールーム</dt>
        <dd>〒150-0043 東京都渋谷区道玄坂1丁目12番1号 渋谷マークシティ ウエスト17階</dd>
      </dl>
      <section class="section__subSection">
        <h3 class="section__subTitle">最寄り駅からのアクセス</h3>
        <dl class="dfnList">
          <dt>【京王井の頭線】 渋谷駅 西口より</dt>
          <dd>渋谷マークシティWEST MALL 1Fに直結しております。渋谷マークシティ ウエスト17階までお越しください。</dd>
          <dt>【東京メトロ】 銀座線・半蔵門線・副都心線 渋谷駅より</dt>
          <dd>京王井の頭線 渋谷駅方面にお越しください。</dd>
          <dt>【東急】 東横線・田園調布線 渋谷駅より</dt>
          <dd>京王井の頭線 渋谷駅方面にお越しください。</dd>
          <dt>【JR】山手線・埼京線 渋谷駅より</dt>
          <dd>京王井の頭線 渋谷駅方面にお越しください。</dd>
        </dl>
        <ul class="list list--notice">
          <li><span class="list__symbol">※</span>会場へは公共交通機関でお越し下さい</li>
        </ul>
      </section>
      <section class="section__subSection">
        <h3 class="section__subTitle">問い合わせ先</h3>
        <div class="texts">
          <p>東京Node学園祭<br>実行委員会 E-mail：<a href="mailto:nodefest@nodejs.jp">nodefest@nodejs.jp</a></p>
        </div>
      </section>
    </div>
  </section>

  {{> sponsor }}
