---
nav: home
pageTitle: 
pageDescription: このたびNode.js日本ユーザグループは、Browserifyの作者であり数多くのnpmモジュールを提供するJames Halliday氏、OpenDataプロジェクトに従事しつつクライアントのモジュールを多く作成しているMaxwell Ogden氏、Automattic CTOであり、socket.ioの作者であるGuillermo Rauch氏を招聘し、4回目の「東京Node学園祭」を開催します。
---

  <section class="section" id="about">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>About<span class="section__titleDescription"> - 東京Node学園祭について</span></h2>
    </header>
    <div class="section__content">
      <div class="texts">
        <p>WebSocketの普及により実現されつつあるリアルタイムWebとそれに伴って現実となりつつあるC10K問題。これらへのソリューションとして世界中から注目されているのが、サーバサイドJavaScriptプラットフォームのNode.jsです。</p>
        <p>このたびNode.js日本ユーザグループは、OpenDataプロジェクトに従事しつつクライアントのモジュールを多く作成しているMaxwell Ogden氏、Automattic CTOであり、socket.ioの作者であるGuillermo Rauch氏、expressを管理しているStrongLoopという会社のCEOであるIssac Roth氏、NodeConfの主催者であり、Node.jsのコミュニティを支える中心人物であるMikeal Roger氏を招聘し、4回目の「東京Node学園祭」を開催します。</p>
      </div>
    </div>
  </section>
  <section class="section" id="schedule">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Schedule<span class="section__titleDescription"> - 開催概要</span></h2>
    </header>
    <div class="section__content">
      <table class="table table--row">
        <tr>
          <th>日時</th>
          <td>2014年11月15日(土) 9:00 開場 / 10:00 〜 17:30 / 後夜祭18:30 〜</td>
        </tr>
        <tr>
          <th>会場</th>
          <td>〒150-0043 渋谷区道玄坂1丁目12番1号渋谷マークシティウエスト 13階<br>
          <a href="/2014/access.html">株式会社 サイバーエージェントセミナールーム</a></td>
        </tr>
        <tr>
          <th>ハッシュタグ</th>
          <td>#nodefest<br>
          #nodefestA (トラックA専用)<br>
          #nodefestB (トラックB専用)</td>
        </tr>
        <tr>
          <th>Ustream</th>
          <td><a href="http://www.ustream.tv/channel/nodefest2014a">トラックA</a><br>
          <a href="http://www.ustream.tv/channel/nodefest2014b">トラックB</a></td>
        </tr>
        <tr>
          <th>無線LAN</th>
          <td>無料のWiFi アクセスポイントを用意します。<br>
          SSIDなどは当日お知らせします。</td>
        </tr>
        <tr>
          <th>参加費</th>
          <td>1,000円（チケットは<a href="http://nodejs.connpass.com/event/9144/" >connpass</a>から購入できます）</td>
        </tr>
        <tr>
          <th>主催</th>
          <td><a href="http://nodejs.jp/">Node.js日本ユーザグループ</a></td>
        </tr>
      </table>
    </div>
  </section>
  <section class="section" id="guest">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Special guest<span class="section__titleDescription"> - 海外スピーカー</span></h2>
    </header>
    <div class="section__content">
      <div class="thumbList">
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/maxogden"><img src="/2014/img/speaker/maxogden.jpg" class="image--outline" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/maxogden">Maxwell Ogden</a></h3>
            <p class="thumbList__text">NodeSchoolと呼ばれるオンラインNode.js学習サイトの作成者の一人であり、同じイベント名であるNodeSchoolの出張イベントも開催しています。Node.js開発者を増やす事に日々貢献しています。またOpenDataプロジェクトといったアクセス可能なデータを再利用可能かつmachine-readableにするというチャレンジングなプロジェクトにも関わってます。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/rauchg"><img src="/2014/img/speaker/rauchg.jpg" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/rauchg">Guillermo Rauch</a></h3>
            <p class="thumbList__text">Node.jsの代表的なリアルタイム通信モジュールSocket.IOの作者です。Socket.IOはNode.jsでのリアルタイムWebアプリの可能性を強く引き出し、多くの開発者の注目を集めています。
最近ではSocket.IO v1.0もリリースされさらに注目を集めています。CloudUpと呼ばれるサービスを開発、運用しているAutomatticのCTOでもあり、Functional Reactive Programmingにも造詣が深いです。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/ijroth"><img src="/2014/img/speaker/ijroth.jpg" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/ijroth">Issac Roth</a></h3>
            <p class="thumbList__text">Node.jsのコアコミッターを数多く抱え、代表的なウェブアプリケーションフレームワークである、expressを管理しているStrongLoopという会社のCEOです。StrongLoopの基幹事業であるBaaSの構築とファシリテートを行っており、技術面での造詣も深いです。最近ではexpressをラップしたloopbackと呼ばれるフレームワークの構築に関わっています。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/mikeal"><img src="https://avatars3.githubusercontent.com/u/579?v=2&s=144" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/mikeal">Mikeal Roger</a></h3>
            <p class="thumbList__text">NodeConfの主催者であり、 Mozilla, CouchOne, Yammerと渡り、現在はDigitalOceanで働く実力者です。requestというモジュールを公開するように、 HTTP周りに非常に詳しく、MLでもNode.jsコアの通信周りにも鋭く切り込む場面が良くあります。最近ではNodeForwardと呼ばれる技術委員会を発足しており、Node.jsのコミュニティを支える中心人物です。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="news">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>News<span class="section__titleDescription"> - お知らせ</span></h2>
    </header>
    <div class="section__content">
      <ol class="dateList">
        <li>
          <time class="dateList__date" datetime="2014-08-18">2014.10.10</time>
          <span class="dateList__text">参加者＆登壇者募集を開始しました。<br>
          <a href="http://nodejs.connpass.com/event/9144/" >東京Node学園祭2014 - connpass</a></span>
        </li>
        <li>
          <time class="dateList__date" datetime="2014-08-18">2014.08.18</time>
          <span class="dateList__text">公式サイトを公開しました。</span>
        </li>
      </ol>
    </div>
  </section>
  <section class="section" id="attention">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Attention<span class="section__titleDescription"> - 取材をご希望の方へ</span></h2>
    </header>
    <div class="section__content">
      <div class="texts">
        <p>東京Node学園祭2014の取材をご希望されるプレスの皆様に取材の申し込み方法をお知らせいたします。 東京Node学園祭2014の取材につきましては、会場のセキュリティの問題で、事前にご登録いただかないと入場することができません。</p>
        <p>そこで、取材をご希望される方は、2014年11月7日（金）までに <a href="mailto:nodefest@nodejs.jp">nodefest@nodejs.jp</a> まで、取材ご担当者の氏名・所属、媒体名などをご連絡いただければ幸いです。</p>
        <p>なお、当日は満席になることが予想されるため、立ち見での取材をお願いいたします。あらかじめご了承ください。</p>
        <p>当日受付にて、プレスである旨を告げ、プレス用カードを受け取ったうえでご入場ください。この際、御名刺をいただきたく存じますので、ご用意をよろしくお願い致します。</p>
      </div>
    </div>
  </section>
