---
nav: session
pageTitle: 'Session - '
pageDescription: 
---

  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Session<span class="section__titleDescription"> - 学園祭セッション内容</span></h2>
    </header>
    <div class="section__content">
      <table class="table table--col">
        <tr>
          <th class="table__th--time">時間</th>
          <th>トラックA</th>
          <th>トラックB</th>
        </tr>
        <tr>
          <td class="table__td--time">09:00 - 10:00</td>
          <td colspan="2">
            <div class="table__session">開場</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">10:00 - 10:10</td>
          <td colspan="2">
            <div class="table__session">挨拶 / 会場注意</div>
            <div class="table__speaker"><a href="https://twitter.com/yosuke_furukawa">@yosuke_furukawa</a>, <a href="https://twitter.com/tito_net">@tito_net</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">10:10 - 10:25</td>
          <td colspan="2">
            <div class="table__session">休憩</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">10:25 - 12:00</td>
          <td>
            <div class="table__session">workshop - socket.io v1.0</div>
            <div class="table__speaker"><a href="https://twitter.com/TonyKovanen">@TonyKovanen</a></div>
          </td>
          <td>
            <div class="table__session">nodeschool in Japan</div>
            <div class="table__speaker"><a href="https://twitter.com/maxogden">@maxogden</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">12:00 - 13:30</td>
          <td colspan="2">
            <div class="table__session">昼食</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">13:30 - 14:00</td>
          <td colspan="2">
            <div class="table__session">基調講演</div>
            <div class="table__speaker"><a href="https://twitter.com/rauchg">@rauchg</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">14:00 - 14:15</td>
          <td colspan="2">
            <div class="table__session">休憩</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">14:15 - 14:45</td>
          <td>
            <div class="table__session">What’s coming in Node, Express & LoopBack</div>
            <div class="table__speaker"><a href="https://twitter.com/ijroth">@ijroth</a></div>
          </td>
          <td>
            <div class="table__session">node.js for beginners, grunt gulp browserify webpack bower</div>
            <div class="table__speaker"><a href="https://twitter.com/ahomu">@ahomu</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">14:45 - 15:15</td>
          <td>
            <div class="table__session">Node-v0.12のTLSを256倍使いこなす方法</div>
            <div class="table__speaker"><a href="https://twitter.com/jovi0608">@jovi0608</a></div>
          </td>
          <td>
            <div class="table__session">すべてのノードトランスパイラーがひどい！ならば、ノードトランスパイラーをいかに改善できるか。</div>
            <div class="table__speaker"><a href="https://twitter.com/leichtgewicht">@leichtgewicht</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">15:15 - 15:30</td>
          <td colspan="2">
            <div class="table__session">休憩</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">15:30 - 16:00</td>
          <td>
            <div class="table__session">Node Past, Present, Future</div>
            <div class="table__speaker"><a href="https://twitter.com/mikeal">@mikeal</a></div>
          </td>
          <td>
            <div class="table__session">テスト用ライブラリ power-assert, その開発で学んだ npm モジュール設計の勘所</div>
            <div class="table__speaker"><a href="https://twitter.com/t_wada">@t_wada</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">16:00 - 16:30</td>
          <td>
            <div class="table__session">ギャルでもゎかる node-webkit</div>
            <div class="table__speaker"><a href="https://twitter.com/upgrade_ayp">@upgrade_ayp</a></div>
          </td>
          <td>
            <div class="table__session">Node.jsで操るKurentoメディアサーバー</div>
            <div class="table__speaker"><a href="https://twitter.com/massie_g">@massie_g</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">16:30 - 16:45</td>
          <td colspan="2">
            <div class="table__session">休憩</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">16:45 - 17:35</td>
          <td colspan="2">
            <div class="table__ltHeader">LT</div>
            <div class="table__session">新しい並行計算ライブラリjs-cspをご紹介</div>
            <div class="table__speaker"><a href="https://twitter.com/niryuu">@niryuu</a></div>
            <div class="table__session">ド初心者が5000QPSの広告配信APIをNode.jsで構築したおはな死</div>
            <div class="table__speaker"><a href="https://twitter.com/zuqqhi2">@zuqqhi2</a>, <a href="https://twitter.com/Jimisky">@Jimisky</a></div>
            <div class="table__session">node.js + socket.io + mongoDB で本格風リアルタイムWEBサイトを作ってみた</div>
            <div class="table__speaker"><a href="https://twitter.com/ozatty96">@ozatty96</a></div>
            <div class="table__session">node.jsでビッグデータを処理する</div>
            <div class="table__speaker"><a href="https://twitter.com/neo6120">@neo6120</a></div>
            <div class="table__session">A Profiling and Monitoring Method for Nodejs Applications</div>
            <div class="table__speaker"><a href="https://twitter.com/setogit">@setogit</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">17:35 - 17:40</td>
          <td colspan="2">
            <div class="table__session">閉会</div>
            <div class="table__speaker"><a href="https://twitter.com/yosuke_furukawa">@yosuke_furukawa</a></div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">17:40 - 18:30</td>
          <td colspan="2">
            <div class="table__session">撤収</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">18:30 - </td>
          <td colspan="2">
            <div class="table__session">後夜祭</div>
          </td>
        </tr>
      </table>
      <ul class="list list--notice">
        <li><span class="list__symbol">※</span>セッションの内容／時間は変更になる可能性があります。</li>
        <li><span class="list__symbol">※</span>セッションは日本語・英語で行われます。</li>
      </ul>
      <section class="section__subSection">
        <h3 class="section__subTitle">会場案内</h3>
        <img class="image--outline" src="/2014/img/place.png" width="680" height="380">
      </section>
    </div>
  </section>

  {{> sponsor }}
