---
nav: session
pageTitle: 'セッション - '
pageDescription: 
---

  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Session<span class="section__titleDescription"> - 学園祭セッション内容</span></h2>
    </header>
    <div class="section__content">
      <table class="table table--col">
        <tr>
          <th class="table__th--time">時間</th>
          <th>トラックA</th>
          <th>トラックB</th>
        </tr>
        <tr>
          <td class="table__td--time">12:00 〜</td>
          <td>
            <div class="table__session">開場</div>
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td class="table__td--time">13:00 〜 13:10</td>
          <td>
            <div class="table__session">挨拶/会場注意</div>
            <div class="table__speaker"><a href="https://twitter.com/yosuke_furukawa">@yosuke_furukawa</a>, <a href="https://twitter.com/tito">@tito</a></div>
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td class="table__td--time">13:10 〜 13:40</td>
          <td>
            <div class="table__session">基調講演</div>
            <div class="table__speaker"><a href="https://twitter.com/rauchg">@rauchg</a></div>
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td class="table__td--time">13:45 〜 14:15</td>
          <td>
            <div class="table__session">調整中</div>
            <div class="table__speaker"><a href="https://twitter.com/ahomu">@ahomu</a></div>
          </td>
          <td>
            <div class="table__session">調整中</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">14:30 〜 15:00</td>
          <td>
            <div class="table__session">調整中</div>
            <div class="table__speaker"><a href="https://twitter.com/substack">@substack</a></div>
          </td>
          <td>
            <div class="table__session">調整中</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">15:30 〜 16:00</td>
          <td>
            <div class="table__session">Dart VM</div>
            <div class="table__speaker"><a href="https://twitter.com/technohippy">@technohippy</a></div>
          </td>
          <td>
            <div class="table__session">調整中</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">16:15 〜 16:45</td>
          <td>
            <div class="table__session">大規模Node.js運用</div>
            <div class="table__speaker"><a href="https://twitter.com/toritori0308">@toritori0308</a></div>
          </td>
          <td>
            <div class="table__session">調整中</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">17:00 〜 17:30</td>
          <td colspan="2">
            <div class="table__ltHeader">LT大会</div>
            <div class="table__session">調整中</div>
          </td>
        </tr>
        <tr>
          <td class="table__td--time">17:30 ～ </td>
          <td>
            <div class="table__session">閉会 + 撤収</div>
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td class="table__td--time">18:30 〜 </td>
          <td>
            <div class="table__session">後夜祭</div>
          </td>
          <td>-</td>
        </tr>
      </table>
      <ul class="list list--notice">
        <li><span class="list__symbol">※</span>セッションの内容／時間は変更になる可能性があります。</li>
        <li><span class="list__symbol">※</span>セッションは日本語・英語で行われます。</li>
      </ul>
      <section class="section__subSection">
        <h3 class="section__subTitle">会場案内</h3>
        <img class="image--outline" src="http://dummyimage.com/680x350">
      </section>
    </div>
  </section>
