---
nav: speaker
pageTitle: 'Speaker - '
pageDescription: 
---

  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Special guest<span class="section__titleDescription"> - 海外スピーカー紹介</span></h2>
    </header>
    <div class="section__content">
      <div class="thumbList">
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/rauchg"><img src="http://dummyimage.com/144" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/rauchg">Guillermo Rauch</a></h3>
            <p class="thumbList__text">Node.jsの代表的なリアルタイム通信モジュールSocket.IOの作者です。Socket.IOはNode.jsでのリアルタイムWebアプリの可能性を強く引き出し、多くの開発者の注目を集めています。
最近ではSocket.IO v1.0もリリースされさらに注目を集めています。CloudUpと呼ばれるサービスを開発、運用しているAutomatticのCTOでもあり、Functional Reactive Programmingにも造詣が深いです。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/substack"><img src="http://dummyimage.com/144" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/substack">James Halliday</a></h3>
            <p class="thumbList__text">browserlingというブラウザテストのクラウド環境を提供するスタートアップを立ち上げています。またbrowserifyと呼ばれるCommonJSスタイルで書かれたJavaScriptをブラウザでも利用できるようにするツールを作成し、Node.jsコミュニティにとどまらず、Web開発全体のエコシステムに貢献しています。作成しているnpmライブラリの数も群を抜いて多いです。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="https://twitter.com/MaxwellOgden"><img src="http://dummyimage.com/144" class="image--outline" alt="" width="144" height="144"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="https://twitter.com/MaxwellOgden">Maxwell Ogden</a></h3>
            <p class="thumbList__text">NodeSchoolと呼ばれるオンラインNode.js学習サイトの作成者の一人であり、同じイベント名であるNodeSchoolの出張イベントも開催しています。Node.js開発者を増やす事に日々貢献しています。またOpenDataプロジェクトといったアクセス可能なデータを再利用可能かつmachine-readableにするというチャレンジングなプロジェクトにも関わってます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Speaker<span class="section__titleDescription"> - 登壇者紹介</span></h2>
    </header>
    <div class="section__content">
      <div class="thumbList">
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <img src="http://dummyimage.com/144" class="image--outline" alt="" width="144" height="144">
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title">調整中</h3>
            <p class="thumbList__text">調整中</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> sponsor }}
