---
nav: sponsor
pageTitle: 'Sponsor - '
pageDescription: 
---

  <section class="section">
    <header class="section__header">
      <h2 class="section__title"><i class="section__titleIcon icon icon-title"></i>Sponsor<span class="section__titleDescription"> - スポンサー紹介</span></h2>
    </header>
    <div class="section__content">
      <div class="thumbList">
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="http://www.pxgrid.com/"><img src="http://dummyimage.com/160x100" class="image--outline" alt="" width="160" height="100"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="http://www.pxgrid.com/">株式会社ピクセルグリッド</a></h3>
            <p class="thumbList__text">ピクセルグリッドはJavaScriptの会社です。Webアプリケーションのフロントエンド開発を得意としhtml5やCSS3といった技術を積極的に活用しています。node.jsの利用にも取り組んでいます。</p>
          </div>
        </div>
        <div class="thumbList__item">
          <div class="thumbList__thumb">
            <a href="http://sinap.jp/"><img src="http://dummyimage.com/160x100" class="image--outline" alt="" width="160" height="100"></a>
          </div>
          <div class="thumbList__content">
            <h3 class="thumbList__title"><a href="http://sinap.jp/">株式会社SINAP</a></h3>
            <p class="thumbList__text">シナップは、コミュニケーションをデザインする会社です。インターネットをコミュニケーション戦略の中心に据え、Web サイト、スマートフォンサイト、アプリ、各種広告・プロモーションなど、コミュニケーション・コンサルティングから実制作まで、一貫してサポートしています。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
