<dom-module id="nf-app-logo">
  <style is="custom-style">
    :host {
      display: block;
    }
    .nf-app-logo__link {
      display: table;
      color: #FFFFFF;
      text-decoration: none;
    }
    .nf-app-logo__icon {
      display: table-cell;
      padding-right: 8px;
      vertical-align: middle;
    }
    .nf-app-logo__text {
      display: table-cell;
      vertical-align: middle;
    }
    .nf-app-logo__name {
      margin-top: -2px;
      line-height: 1;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
  <template>
    <a class="nf-app-logo__link" href="/">
      <div class="nf-app-logo__icon">
        <img src="/images/svg/app-logo.svg" height="36" alt="">
      </div>
      <div class="nf-app-logo__text">
        <h1 class="nf-app-logo__name">東京Node学園祭2015</h1>
      </div>
    </a>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-app-logo',
      properties: {}
    });
  })();
</script>
