<dom-module id="nf-social-parts">
  <style>
    :host {
      display: block;
    }
    .nf-social-parts__items {
      text-align: center;
    }
    .nf-social-parts__item {
      display: inline-block;
      margin: 0 5px;
      vertical-align: top;
    }
  </style>
  <template>
    <ul class="nf-social-parts__items">
      <li class="nf-social-parts__item">
        <a href="https://twitter.com/share" class="twitter-share-button twitter-count-vertical" data-lang="ja" data-count="vertical" data-url="http://nodefest.jp/2015/" data-via="nodefest" data-lang="ja" data-hashtags="nodefest">ツイート</a>
      </li>
      <li class="nf-social-parts__item">
        <a href="http://b.hatena.ne.jp/entry/http://nodefest.jp/2015/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      </li>
      <li class="nf-social-parts__item">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://nodefest.jp/2015/" data-width="48" data-layout="box_count" data-show-faces="false" data-send="false"></div>
      </li>
      <li class="nf-social-parts__item">
        <div class="g-plusone" data-size="tall"></div>
      </li>
    </ul>
    <script type="text/x-nf-load-after" class="js-nf-sns-script" src="//platform.twitter.com/widgets.js" async="async"></script>
    <script type="text/x-nf-load-after" class="js-nf-sns-script" src="//b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <script type="text/x-nf-load-after" class="js-nf-sns-script" src="//connect.facebook.net/en_US/all.js#xfbml=1" async="async"></script>
    <script type="text/x-nf-load-after" class="js-nf-sns-script" src="https://apis.google.com/js/plusone.js" async="async"></script>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'nf-social-parts',
        properties: {},
        ready: function() {
          var srcElms = this.getElementsByClassName('js-nf-sns-script');
          for (var i = 0, l = srcElms.length; i < l; i++) {
            var el = srcElms[i];
            var s = document.createElement('script');
            s.src = el.src;
            document.body.appendChild(s);
          }
        }
      });
    })();
  </script>
</dom-module>
