<%- include('_layout/header', {
title: 'Code of Conduct'
}) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <div class="tile">

    <div class="header-mountain">
      <svg xmlns="http://www.w3.org/2000/svg" class="header-mountain-svg" fill="url(#header-hex)"><use xlink:href="#hex"></use></svg>
    </div>

    <!-- About -->
    <section class="about">

      <svg xmlns="http://www.w3.org/2000/svg" class="about-mountain" fill="url(#about-hex)"><use xlink:href="#hex"></use></svg>

      <div class="about-content">
        <h2 class="about-title">
          年に一度、真剣に学んで楽しもう！<br/>
          日本最大のNode.jsカンファレンス！
        </h2>
        <div class="about-body">
          <p>近年、Node.jsを利用する機会は飛躍的に増えています。クライアントサイドのビルドモジュールやAWS Lambda, WebSocket を使ったリアルタイムウェブアプリケーション、軽量エンジンであることを活かしたIoTでの利用、デスクトップアプリ等、適用範囲が増えています。また昨今のECMAScript 2016が仕様化されたこと、Node.jsとio.jsの分裂と統合等のドラマを経てより一層の注目が期待されます。</p>
          <p>このたびNode.js日本ユーザグループは、ECMAScriptの仕様化団体の一人であり、JSONの開発者でもある Douglas Crockford 氏、WhatWG Social Activity WG の仕様化を進める一人であり、 Node.js core committer でもある James Snell 氏、 ECMAScript 仕様化団体の一人であり、 Node のモジュールエコシステムの今後の鍵を握る Bradley Meck 氏、デスクトップアプリ開発が可能な Electron の作者である Cheng Zhao 氏、 React/Redux をベースに次世代の フロントエンド開発フレームワークである choo の開発を進める Yoshua Wuyts 氏を迎えて2016年のNode学園祭を開催いたします。</p>
        </div>
      </div>
    </section>

  </div>

  <!-- Tickets -->
  <section class="tickets">
    <svg xmlns="http://www.w3.org/2000/svg" class="tickets-mountain" fill="url(#tickets-hex)"><use xlink:href="#hex"></use></svg>

    <div class="tickets-body">
      <div class="tickets-action">
        <a href="#" class="Button -primary">
          Get your tickets
        </a>
      </div>
    </div>
  </section>

</div>

<%- include('_layout/footer') -%>
