<%- include('_layout/header', {
title: 'Code of Conduct'
}) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <div class="tile">

    <div class="header-mountain">
      <svg xmlns="http://www.w3.org/2000/svg" class="header-mountain-svg" fill="url(#header-hex)"><use xlink:href="#hex"></use></svg>
    </div>

    <section class="schedule">
      <h2 class="schedule-title">Schedule</h2>
      <div class="schedule-body">
        <div class="schedule-section">
          <div class="timetable">
            <div class="timetable-header">
              <h3 class="timetable-venue">
                Workshop at dots.              </h3>
              <p class="timetable-day -workshop">
                <svg xmlns="http://www.w3.org/2000/svg" class="timetable-corner" fill="url(#color-workshop)"><use xlink:href="#corner"></use></svg>
                Nov 12
              </p>
              <p class="timetable-caption">Time</p>
              <div class="timetable-section">
                <p>Event space</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>09:00 - 10:00</p>
              </div>
              <div class="timetable-content">
                <p>Open</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>10:00 - 12:00</p>
              </div>
              <div class="timetable-content">
                <p>Node School</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>12:00 - 13:00</p>
              </div>
              <div class="timetable-content">
                <p>Lunch</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>13:00 - 15:00</p>
              </div>
              <div class="timetable-content">
                <div>Braintree WorkShop</div>
                <div>Code & Learn WorkShop</div>
                <div>any other WorkShop</div>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>18:00</p>
              </div>
              <div class="timetable-content">Close</div>
            </div>
          </div>
        </div>
        <div class="schedule-section">
          <div class="timetable">
            <div class="timetable-header">
              <p class="timetable-venue">
                Conference at Markcity
              </p>
              <p class="timetable-day -conference">
                <svg xmlns="http://www.w3.org/2000/svg" class="timetable-corner" fill="url(#color-conference)"><use xlink:href="#corner"></use></svg>
                Nov 13
              </p>
              <h3 class="timetable-caption">Time</h3>
              <div class="timetable-section">
                <p>Room A</p>
                <p>Room B</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>09:00 - 10:00</p>
              </div>
              <div class="timetable-content">
                <p>Open</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>10:00 - 19:00</p>
              </div>
              <div class="timetable-content">
                <p>Conference (TBA)</p>
              </div>
            </div>
            <div class="timetable-row">
              <div class="timetable-time">
                <p>19:30</p>
              </div>
              <div class="timetable-content">Close</div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Tickets -->
  <section class="tickets">
    <svg xmlns="http://www.w3.org/2000/svg" class="tickets-mountain" fill="url(#tickets-hex)"><use xlink:href="#hex"></use></svg>

    <div class="tickets-body">
      <div class="tickets-action">
        <a href="#" class="Button -primary">
          Get your tickets
        </a>
      </div>
    </div>
  </section>

</div>

<%- include('_layout/footer') -%>
