<%- include('_layout/header', {
title: 'Code of Conduct'
}) -%>

<%- include('_partial/svg') -%>

<%- include('_partial/navigation') -%>

<div class="main">

  <div class="tile">

    <div class="header-mountain">
      <svg xmlns="http://www.w3.org/2000/svg" class="header-mountain-svg" fill="url(#header-hex)"><use xlink:href="#hex"></use></svg>
    </div>

    <div class="sponsors">
      <h2 class="sponsors-title">Sponsors</h2>
      <div class="sponsors-body">
        <div class="sponsors-section">
          <h3 class="sponsors-grade">Platinum</h3>
          <ul class="sponsors-list">
            <li>
              <div class="sponsor">
                <a href="https://www.paypal.com/jp/webapps/mpp/merchant" target="_blank" class="sponsor-banner -platinum">
                  <img src="img/sponsors/paypal.png" alt="PayPal">
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="sponsors-section">
          <h3 class="sponsors-grade">Gold</h3>
          <ul class="sponsors-list">
            <li>
              <div class="sponsor">
                <a href="http://dwango.co.jp/" target="_blank" class="sponsor-banner -gold">
                  <img src="img/sponsors/dwango.png" alt="株式会社ドワンゴ">
                </a>
              </div>
            </li>
            <li>
              <div class="sponsor">
                <a href="http://recruit-tech.co.jp/" target="_blank" class="sponsor-banner -gold">
                  <img src="img/sponsors/r-tech.png" alt="リクルートテクノロジーズ">
                </a>
              </div>
            </li>
            <li>
              <div class="sponsor">
                <a href="http://www.yahoo.co.jp/" target="_blank" class="sponsor-banner -gold">
                  <img src="img/sponsors/yahoo.png" alt="ヤフー株式会社">
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="sponsors-section">
          <h3 class="sponsors-grade">Silver</h3>
          <ul class="sponsors-list">
            <li>
              <div class="sponsor">
                <a href="https://www.pxgrid.com/" target="_blank" class="sponsor-banner -silver">
                  <img src="img/sponsors/pxgrid.png" alt="株式会社ピクセルグリッド">
                </a>
              </div>
            </li>
            <li>
              <div class="sponsor">
                <a href="http://sphinx-software.jp/" target="_blank" class="sponsor-banner -silver">
                  <img src="img/sponsors/sphinx.png" alt="Sphinx有限会社">
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="sponsors-section">
          <h3 class="sponsors-grade">Media</h3>
          <ul class="sponsors-list">
            <li>
              <div class="sponsor">
                <a href="https://www.theport.jp/" target="_blank" class="sponsor-banner -silver">
                  <img src="img/sponsors/theport.png" alt="ポート株式会社">
                </a>
              </div>
            </li>
          </ul>
        </div>

        <p class="sponsors-lead">協賛を希望される方は専用フォームよりお申し込みください。</p>
        <div class="sponsors-action">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfNdD06sIUy5noreZ6yp_ZzMlAFoIRq51V1bFwtcuY4xh29Yw/viewform"
             class="Button -invert -cfs">Sponsorship</a>
        </div>
      </div>
    </div>

  </div>

  <!-- Tickets -->
  <section class="tickets">
    <svg xmlns="http://www.w3.org/2000/svg" class="tickets-mountain" fill="url(#tickets-hex)"><use xlink:href="#hex"></use></svg>

    <div class="tickets-body">
      <div class="tickets-action">
        <a href="#" class="Button -primary">
          Get your tickets
        </a>
      </div>
    </div>
  </section>

</div>

<%- include('_layout/footer') -%>
