<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="stylesheet" href="assets/css/style.css">
<script src="http://49.212.31.180:9000/socket.io/socket.io.js"></script>
<script src="assets/js/lib.js"></script>
<script src="assets/js/script.js"></script>
</head>
<body>

{% include header.html %}

<div class="mod-pageBody">
	<div class="mod-pageBody-main">
	<!-- LazyJaxDavis start -->
{{ content }}
	<!-- LazyJaxDavis end -->
	</div>

	<div class="mod-pageBody-side">
{% include side_sponsors.html %}
{% include side_twitter.html %}
	</div>
<!-- /.mod-pageBody --></div>

{% include footer.html %}

<div id="avatarField"></div>

<script type="text/x-tmpl" id="tmpl-avatar">
<div class="mod-avatar-comment"></div>
<img src="<%= image %>" alt="avatar">
</script>

</body>
</html>
