<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="stylesheet" href="assets/css/style.css">
<script src="assets/js/lib.js"></script>
<script src="assets/js/script.js"></script>
</head>
<body>

{% include header.html %}

<div class="mod-pageBody">
	<div class="mod-pageBody-main">
	<!-- LazyJaxDavis start -->
{{ content }}
	<!-- LazyJaxDavis end -->
	</div>

	<div class="mod-pageBody-side">
{% include side_sponsors.html %}
{% include side_twitter.html %}
	</div>
<!-- /.mod-pageBody --></div>

{% include footer.html %}

<div class="mod-avatar" style="top:150px; left:20%;">
	<div class="mod-avatar-comment">はろーわーるど</div>
	<img src="assets/img/mod-avatar/girl01.gif" height="80" width="45">
</div>


<div class="mod-avatar ex-avatar-me" style="top:300px; left:10%;">
	<div class="mod-avatar-comment">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
	<img src="assets/img/mod-avatar/boy01me.gif" height="80" width="45">
</div>

</body>
</html>
