<!-- CFP Links -->
<section class="cfp">
  <div class="cfp-inner">
    <header class="cfp-header">
      <h3 class="cfp-title">Call for</h3>
      <div class="cfp-note">
        <p>発表者およびスポンサーを募集しています。</p>
      </div>
    </header>
    <div class="cfp-body">
      <div class="cfp-action">
        <div class="cfp-button">
          <a href="https://docs.google.com/forms/d/1b3DFCCVIK1rinVMFO39q6hSUev1Q_27avmYRE2E4YG0/edit" class="Button -conference" target="_blank">
            Papers
          </a>
        </div>
        <div class="cfp-button">
          <a href="https://docs.google.com/forms/d/1IJiCuc6JI-SnCzR2ok6iX8RN52AR9S-ENRDlVXA2rc4/edit" class="Button -interactive" target="_blank">
            Sponsors
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
