<header id="header" class="header">
  <div class="header-inner">
    <a href="./" class="header-logo"><img src="img/logo-tnf-invert.svg" alt="東京Node学園祭2018"></a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li><a href="speakers.html" class="navigation-target">Speakers</a></li>
        <li><a href="schedule.html" class="navigation-target">Schedule</a></li>
        <li><a href="venues.html" class="navigation-target">Venues</a></li>
        <li><a href="sponsors.html" class="navigation-target">Sponsors</a></li>
      </ul>
      <button class="navigation-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="navigation-icon"><use xlink:href="#close"></use></svg>
      </button>
    </nav>
    <button class="header-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="header-icon"><use xlink:href="#nav"></use></svg>
    </button>
  </div>
</header>
