<!-- CFP Links ではなくSchedule LinksではあるがUIとして流用・・ -->
<section class="cfp" id="schedules">
  <div class="cfp-inner">
    <header class="cfp-header">
      <h3 class="cfp-title">Schedules</h3>
    </header>
    <div class="cfp-body">
      <div class="cfp-action">
        <div class="cfp-button">
          <a href="schedule.html#conference" class="Button -conference">
            Day 1
          </a>
        </div>
        <div class="cfp-button">
          <a href="schedule.html#interactive" class="Button -interactive">
            Day 2
          </a>
        </div>
      </div>
    </div>
    <div class="cfp-note">
      <p>スケジュールは変更の可能性があります。</p>
    </div>
  </div>
</section>
