<!-- CFP Links -->
<section class="cfp" id="schedules">
  <div class="cfp-inner">
    <header class="cfp-header">
      <h3 class="cfp-title">Schedules</h3>
    </header>
    <div class="cfp-body">
      <div class="cfp-action">
        <div class="cfp-button">
          <a href="https://docs.google.com/spreadsheets/d/1vLhgBunwjIBGUz1HvSrGAQnwZGJjrrCkFPBOUNbluSU/edit#gid=0" class="Button -conference" target="_blank">
            Day 1
          </a>
        </div>
        <div class="cfp-button">
          <a href="https://docs.google.com/spreadsheets/d/1vLhgBunwjIBGUz1HvSrGAQnwZGJjrrCkFPBOUNbluSU/edit#gid=1574731806" class="Button -interactive" target="_blank">
            Day 2
          </a>
        </div>
      </div>
    </div>
    <div class="cfp-note">
      <p>スケジュールは変更の可能性があります。</p>
    </div>
  </div>
</section>
