<!-- Tickets -->
<section class="tickets" id="scroll-tickets">
  <div class="tickets-inner">
    <header class="tickets-header">
      <h3 class="tickets-title">Get your tickets</h3>
      <div class="tickets-note">
        <p>それぞれの日程ごとにお申し込みください。</p>
      </div>
    </header>
    <div class="tickets-body">
      <div class="tickets-action">
        <div class="tickets-button">
          <a href="https://nodejs.connpass.com/event/106081/" class="Button -conference" target="_blank">
            Get 1st Day Ticket
            <span class="tickets-buttonLead">Nov 23</span>
          </a>
        </div>
        <div class="tickets-button">
          <a href="https://nodejs.connpass.com/event/106263/" class="Button -interactive" target="_blank">
            Get 2nd Day Ticket
            <span class="tickets-buttonLead">Nov 24</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
