<div class="timetable -conference">

  <div class="timetable-caption">
    <h3 class="timetable-title">
      Nov 25 <span class="timetable-venue">at Fujimi Gate Hosei University</span>
    </h3>
  </div>

  <div class="timetable-notice">
    <p>
      25日に登壇予定の Christopher 'JJ' Jeffrey がキャンセルとなりました。代替として、Yosuke Furukawa によるセッションに変更いたします。
    </p>
  </div>
  <div class="timetable-header">
    <div class="timetable-time"></div>
    <div class="timetable-section">
      <p>G403</p>
      <p>G402</p>
      <p>G401</p>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>12:00 - 13:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Open</p>
        <p class="timetable-sessionSpeaker">-</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:00 - 13:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Opening talk</p>
        <p class="timetable-sessionSpeaker">Yosuke</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:15 - 13:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="joyee" class="speaker">
          <p class="timetable-sessionTitle">Node.js at Alibaba</p>
          <p class="timetable-sessionSpeaker">Joyee Cheung</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="brn" class="speaker">
          <p class="timetable-sessionTitle">Source to Binary - journey of V8 javascript engine</p>
          <p class="timetable-sessionSpeaker">青野健利 a.k.a brn</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="rachel" class="speaker">
          <p class="timetable-sessionTitle">Alt-Ctrl: Scream Into this Arduino!</p>
          <p class="timetable-sessionSpeaker">Rachel White</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:45 - 14:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="myles" class="speaker">
          <p class="timetable-sessionTitle">Open Source Governance Models: From BDFL to Consensus Seeking</p>
          <p class="timetable-sessionSpeaker">Myles Borins</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="jbucaran" class="speaker">
          <p class="timetable-sessionTitle">Make you a React: How to build your own JavaScript framework.</p>
          <p class="timetable-sessionSpeaker">Jorge Bucaran</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="gergely" class="speaker">
          <p class="timetable-sessionTitle">Node.js Production Checklist</p>
          <p class="timetable-sessionSpeaker">Gergely Nemeth</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>14:15 - 14:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="fhinkel" class="speaker">
          <p class="timetable-sessionTitle">The JavaScript Engine in Node.js: TurboFan and Ignition</p>
          <p class="timetable-sessionSpeaker">Franziska Hinkelmann</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="ganeko" class="speaker">
          <p class="timetable-sessionTitle">Node.js x Chrome headless で、お手軽WebRTC MCU</p>
          <p class="timetable-sessionSpeaker">がねこまさし</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="kgryte" class="speaker">
          <p class="timetable-sessionTitle">WebAssembly and the Future of the Web</p>
          <p class="timetable-sessionSpeaker">Athan Reines</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>14:45 - 15:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:00 - 15:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="kosamari" class="speaker">
          <p class="timetable-sessionTitle">標準化ってなに？ Webプラットフォーム/ESNextを作る方法</p>
          <p class="timetable-sessionSpeaker">Mariko Kosaka</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="leko" class="speaker">
          <p class="timetable-sessionTitle">ReactNativeアプリでE2Eテストを回してみた</p>
          <p class="timetable-sessionSpeaker">れこ</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="sia" class="speaker">
          <p class="timetable-sessionTitle">No REST for the weary... Introducing GraphQL</p>
          <p class="timetable-sessionSpeaker">Sia Karamalegos</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:30 - 16:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="yosuke" class="speaker">
          <p class="timetable-sessionTitle">Turbo Boost Next Node.js</p>
          <p class="timetable-sessionSpeaker">Yosuke Furukawa</p>
        </a>
        <div class="timetable-sessionNotice">
          <p>
            予定していたChristopher 'JJ' Jeffrey のセッションはキャンセルとなりました。
          </p>
        </div>
      </div>
      <div class="timetable-session">
        <a data-key="sota" class="speaker">
          <p class="timetable-sessionTitle">今さら聞けないSPAのCORS対策の話</p>
          <p class="timetable-sessionSpeaker">杉浦颯太</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="rob" class="speaker">
          <p class="timetable-sessionTitle">A Toy Robot and a Functional Pattern</p>
          <p class="timetable-sessionSpeaker">Rob Howard</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>16:00 - 16:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <a data-key="gil" class="speaker">
          <p class="timetable-sessionTitle">Native ES Module - something almost, but not quite entirely unlike CommonJS</p>
          <p class="timetable-sessionSpeaker">Gil Tayar</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="horobi" class="speaker">
          <p class="timetable-sessionTitle">サーバサイドエンジニアがJavaScriptを書いてTradingViewを導入した話</p>
          <p class="timetable-sessionSpeaker">谷口 英</p>
        </a>
      </div>
      <div class="timetable-session">
        <a data-key="nick" class="speaker">
          <p class="timetable-sessionTitle">Quantum Computing in Node</p>
          <p class="timetable-sessionSpeaker">Nick Doiron (ニック・ドレン)</p>
        </a>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>16:30 - 16:45</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>16:45 - 17:15</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Sponsor's talk</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>17:15 - 17:30</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionBreak">Break</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>17:30 - 18:20</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
      <p class="timetable-sessionTitle">Lightning Talks</p>
      <ul class="timetable-lts">
        <li>
          <p class="timetable-ltsTitle">Angular Universal</p>
          <p class="timetable-ltsSpeaker">Suguru Inatomi</p>
        </li>
        <li>
          <p class="timetable-ltsTitle">2018版、React、Lambda、S3で始めるモダンなユーザーデータ可視化ツール</p>
          <p class="timetable-ltsSpeaker">向山 裕介</p>
        </li>
        <li>
          <p class="timetable-ltsTitle">How TypeScript can simplify design decision</p>
          <p class="timetable-ltsSpeaker">Hyunje Jun</p>
        </li>
        <li>
          <p class="timetable-ltsTitle">Introduction to Visual Regression Testing</p>
          <p class="timetable-ltsSpeaker">Yusuke Kurami</p>
        </li>
        <li>
          <p class="timetable-ltsTitle">Whose Community?</p>
          <p class="timetable-ltsSpeaker">ちゃんとく / Yuka Tokuyama</p>
        </li>
      <ul>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>18:30 - 18:40</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Day1 Closing talk</p>
        <p class="timetable-sessionSpeaker">Yosuke</p>
      </div>
    </div>
  </div>

  <div class="timetable-row">
    <div class="timetable-time">
      <p>20:00 - 23:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">After party</p>
        <p class="timetable-sessionSpeaker">別会場で開催</p>
      </div>
    </div>
  </div>
</div>
