<div class="venue-section">
  <div class="venue-map" id="venue"></div>
  <div class="venue-detail">
    <section class="venue-access u-tac">
      <h3 class="venue-name">
        <img src="img/pin-conference.png" class="venue-icon">
        ヤフー株式会社 / Yahoo Japan Corporation
      </h3>
      <p class="venue-address">
        <a href="https://www.google.com/maps/place/%E6%9D%B1%E4%BA%AC%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3%E3%83%86%E3%83%A9%E3%82%B9%E7%B4%80%E5%B0%BE%E4%BA%95%E7%94%BA/@35.6795212,139.734909,17z/data=!3m2!4b1!5s0x60188c7bf9bd498b:0xd02b8987cd9d56b0!4m5!3m4!1s0x60188c7bed639fe1:0x9db449572f8beef6!8m2!3d35.6795169!4d139.7370977" target="_blank" rel="noopener">
          <span class="venue-linkIcon">
            <img src="img/ico-map.svg" width="16" height="16" alt="">
          </span>
          東京都千代田区紀尾井町1-3 東京ガーデンテラス紀尾井町 紀尾井タワー
        </a>
      </p>
    </section>
  </div>
</div>
