/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mod-pageHeader nav, .mod-pageBody, .mod-pageFooter .mod-pageFooter-inner, .mod-ticketVendor {
  *zoom: 1;
}
.mod-pageHeader nav:before, .mod-pageBody:before, .mod-pageFooter .mod-pageFooter-inner:before, .mod-ticketVendor:before, .mod-pageHeader nav:after, .mod-pageBody:after, .mod-pageFooter .mod-pageFooter-inner:after, .mod-ticketVendor:after {
  content: "";
  display: table;
}
.mod-pageHeader nav:after, .mod-pageBody:after, .mod-pageFooter .mod-pageFooter-inner:after, .mod-ticketVendor:after {
  clear: both;
}

.mod-pageHeader, .mod-pageBody, .mod-pageFooter {
  position: relative;
  z-index: 10;
}

body {
  font-size: 14px;
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF", sans-serif;
  min-width: 970px;
  background: url(../img/bg_01.png);
}

a {
  color: #6b9e00;
}
a:hover {
  text-decoration: none;
}

ul, ol {
  margin-top: .6em;
  margin-bottom: .6em;
}

/* ==========================================================================
   mod-pageHeader
   ========================================================================== */
.mod-pageHeader {
  overflow-x: hidden;
  margin-bottom: 40px;
}
.mod-pageHeader .mod-pageHeader-banner {
  border-bottom: 3px solid #546c22;
  background: url(../img/mod-pageHeader/bg_01.png) 50% 0;
}
.mod-pageHeader .mod-pageHeader-bannerInner {
  position: relative;
  width: 950px;
  min-height: 52px;
  padding: 0 10px;
  margin: 0 auto;
  background: url(../img/mod-pageHeader/bg_02.png) 50% 0;
}
.mod-pageHeader .mod-pageHeader-logo {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.mod-pageHeader .mod-pageHeader-logo img {
  display: block;
}
.mod-pageHeader .mod-pageHeader-text {
  color: #fff32d;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  text-align: right;
  width: 290px;
  padding: 14px 0 0 0;
  margin: 0 0 0 auto;
}
.mod-pageHeader .mod-pageHeader-text img {
  display: block;
  margin: 0 0 0 auto;
}
.mod-pageHeader .mod-pageHeader-text span {
  font-size: 0.75em;
}
.mod-pageHeader .mod-pageHeader-socialButtons {
  background: url(../img/mod-pageHeader/bg_03.png) repeat-x #e9efd6;
}
.mod-pageHeader .mod-pageHeader-socialButtonsInner {
  min-height: 22px;
  padding: 1px 5px;
}
.mod-pageHeader nav {
  width: 950px;
  padding: 0 10px;
  margin: 0 auto;
}
.mod-pageHeader nav ul {
  margin: 0 -10px 0 0;
  padding: 0;
  list-style: none;
}
.mod-pageHeader nav li {
  width: 160px;
  margin: 0;
  float: left;
}
.mod-pageHeader nav a {
  display: block;
  width: 100%;
  outline: none;
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -ms-transition: margin 0.1s linear;
  transition: margin 0.1s linear;
}
.mod-pageHeader nav a:hover {
  margin-left: -6px;
}
.mod-pageHeader nav img {
  display: block;
}

/* ==========================================================================
   mod-pageBody
   ========================================================================== */
.mod-pageBody {
  clear: both;
  width: 950px;
  margin: 0 auto;
  padding: 0 5px;
}
.mod-pageBody .mod-pageBody-main {
  float: left;
  width: 620px;
}
.mod-pageBody .mod-pageBody-side {
  float: right;
  width: 310px;
}

/* ==========================================================================
   mod-pageFooter
   ========================================================================== */
.mod-pageFooter {
  color: #d2d8ba;
  clear: both;
  margin-top: 20px;
  background: #46483e;
}
.mod-pageFooter .mod-pageFooter-inner {
  width: 970px;
  padding: 20px 0;
  margin: 0 auto;
}
.mod-pageFooter small {
  font-size: 0.85714em;
  display: block;
  width: 50%;
}
.mod-pageFooter .copyright {
  float: left;
}
.mod-pageFooter .createby {
  float: right;
  text-align: right;
}
.mod-pageFooter a {
  color: #8cc84b;
}

/* ==========================================================================
   mod-list
   ========================================================================== */
.mod-listMarkNone {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.mod-listMarkNone li {
  padding-left: 0;
  margin-left: 0;
}

.mod-listMarkText {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.mod-listMarkText li {
  padding-left: 1.5em;
  margin-left: 0;
}
.mod-listMarkText span.mod-listMarkText-mark {
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
}

/* ==========================================================================
   mod-section / mod-subSection
   ========================================================================== */
.mod-section, .mod-subSection {
  padding: 30px;
  margin: 0 0 20px;
  background: rgba(255, 255, 247, 0.87);
  background: url(../img/mod-section/bg_01_top.png) no-repeat, url(../img/mod-section/bg_01_btm.png) no-repeat 0 100%;
  position: relative;
  z-index: 2;
}
.no-rgba .mod-section, .no-rgba .mod-subSection {
  background: url(../img/mod-section/bg-all.png);
}
.mod-section:before, .mod-subSection:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 28px;
  bottom: 28px;
  right: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 247, 0.87);
}
.mod-section p, .mod-subSection p {
  margin: 0 0 1em;
}

.mod-section .mod-section-header, .mod-subSection .mod-subSection-header {
  display: table;
  position: relative;
  width: 620px;
  margin: -24px -30px 1em -30px;
}
.mod-section .mod-section-header h1, .mod-subSection .mod-subSection-header h1 {
  font-size: 100%;
  vertical-align: middle;
  display: table-cell;
  *display: inline;
  *zoom: 1;
  margin: 0;
}

.mod-section .mod-section-eyecatch, .mod-subSection .mod-subSection-eyecatch {
  vertical-align: middle;
  display: table-cell;
  *display: inline;
  *zoom: 1;
  width: 1%;
  padding: 0 15px 0 0;
}
.mod-section .mod-section-eyecatch img, .mod-subSection .mod-subSection-eyecatch img {
  display: block;
}

/* mod-section */
.mod-section.ex-section-important {
  background: #fff;
  background: url(../img/mod-section/bg_02_top.png) no-repeat, url(../img/mod-section/bg_02_btm.png) no-repeat 0 100%;
}
.mod-section.ex-section-important:before {
  background: #fff;
}
.mod-section .mod-section-header {
  color: #32351d;
}
.mod-section .mod-section-header h1 {
  font-size: 2.14286em;
}
.mod-section .mod-section-h2 {
  font-size: 100%;
  margin: 1em 0 .1em;
}

/* mod-subSection */
.mod-subSection {
  font-size: 0.85714em;
}
.mod-subSection .mod-subSection-header {
  color: #46483e;
}
.mod-subSection .mod-subSection-header h1 {
  font-size: 1.83333em;
}
.mod-subSection .mod-subSection-eyecatch {
  padding-right: 10px;
}

/* ==========================================================================
   mod-table
   ========================================================================== */
.mod-table table {
  width: 100%;
  border-top: 1px solid #d6dac9;
}
.mod-table th, .mod-table td {
  vertical-align: top;
  padding: .8em 0;
  border-bottom: 1px solid #d6dac9;
}
.mod-table th {
  text-align: left;
}

/* ==========================================================================
   mod-speakerInfo
   ========================================================================== */
.mod-speakerInfo {
  font-size: 0.92857em;
  line-height: 1.4;
  position: relative;
  _height: 130px;
  min-height: 130px;
  padding-left: 165px;
  padding-bottom: 20px;
}
.mod-speakerInfo .mod-speakerInfo-header h1 {
  font-size: 1.38462em;
  margin: 0 0 .3em;
}
.mod-speakerInfo .mod-speakerInfo-image {
  position: absolute;
  top: 0;
  left: 0;
}
.mod-speakerInfo .mod-speakerInfo-image img {
  display: block;
}

/* ==========================================================================
   mod-suponsorInfo
   ========================================================================== */
.mod-suponsorInfo {
  font-size: 0.92857em;
  line-height: 1.4;
  margin: 0 0 2.30769em;
}
.mod-suponsorInfo p {
  margin: 0 0 .5em;
}
.mod-suponsorInfo .mod-suponsorInfo-header h1 {
  font-size: 1.38462em;
  margin: 0 0 .3em;
}
.mod-suponsorInfo .mod-suponsorInfo-image {
  margin: 0 0 10px 30px;
  float: right;
}
.mod-suponsorInfo .mod-suponsorInfo-image img {
  display: block;
}

/* ==========================================================================
   mod-newsList
   ========================================================================== */
.mod-newsList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mod-newsList li {
  margin: 0 0 .3em;
  padding: 0;
}
.mod-newsList span {
  color: #546c22;
  font-weight: bold;
  display: block;
}

/* ==========================================================================
   mod-ticketVendor
   ========================================================================== */
.mod-ticketVendor {
  font-size: 0.92857em;
  margin: 2em 0 1em;
}
.mod-ticketVendor h2 {
  font-size: 100%;
  margin: 0 0 .2em;
}
.mod-ticketVendor table {
  font-size: 0.92308em;
}
.mod-ticketVendor th {
  text-align: left;
  font-weight: normal;
  padding: 0 .5em 0 0;
  white-space: nowrap;
}
.mod-ticketVendor .mod-ticketVendor-text {
  float: left;
  width: 200px;
}
.mod-ticketVendor .mod-ticketVendor-embeded {
  float: right;
  width: 345px;
}

/* ==========================================================================
   mod-sessionTable
   ========================================================================== */
.mod-sessionTable {
  font-size: 0.92857em;
}
.mod-sessionTable table {
  line-height: 1.4;
  width: 100%;
  border-spacing: 10;
}
.mod-sessionTable thead th {
  color: #fff;
  padding: .3em 0 .3em 10px;
  background: url(../img/mod-sessionTable/bg_01_btm.png) no-repeat 100% 100%, url(../img/mod-sessionTable/bg_01_top.png) no-repeat 10px 0;
}
.mod-sessionTable thead th:first-child {
  background-position: 100% 100%, 0 0;
}
.mod-sessionTable tbody th {
  text-align: left;
  vertical-align: top;
  padding: .8em 0 .8em 10px;
  border-bottom: 1px solid #d6dac9;
}
.mod-sessionTable td {
  padding: .8em 0 .8em 10px;
  border-bottom: 1px solid #d6dac9;
}
.mod-sessionTable a[href*=twitter] {
  color: #666;
}
.mod-sessionTable .mod-sessionTable-title {
  font-size: 1em;
  font-weight: bold;
}
.mod-sessionTable .mod-sessionTable-list h1 {
  color: #3f4517;
  font-size: 100%;
  text-align: center;
  padding: .3em 10px;
  margin: -0.3em 0 0;
  background: url(../img/mod-sessionTable/bg_02_btm.png) no-repeat 100% 100%, url(../img/mod-sessionTable/bg_02_top.png) no-repeat 0 0 #a4ed3b;
}
.mod-sessionTable .mod-sessionTable-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mod-sessionTable .mod-sessionTable-list li {
  margin: 0;
  padding: .8em 0;
  border-top: 1px solid #d6dac9;
}
.mod-sessionTable .mod-sessionTable-list li:first-child {
  border-top: none;
}
.mod-sessionTable .mod-sessionTable-list p.note {
  margin-top: 20px;
  text-align: center;
}

/* ==========================================================================
   mod-sponsors
   ========================================================================== */
.mod-sponsors {
  padding: 30px 20px;
  margin: 0 0 20px;
  background: url(../img/mod-sponsors/bg_01_top.png) no-repeat, url(../img/mod-sponsors/bg_01_btm.png) no-repeat 0 100%;
  position: relative;
  z-index: 2;
}
.no-multiplebgs .mod-sponsors {
  padding-top: 42px;
  top: -20px;
}
.mod-sponsors:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 22px;
  bottom: 22px;
  background: #fff;
}
.mod-sponsors .mod-sponsors-header {
  display: table;
  width: 310px;
  margin: -20px -20px 10px;
}
.mod-sponsors .mod-sponsors-header h1 {
  font-size: 100%;
  vertical-align: middle;
  display: table-cell;
  *display: inline;
  *zoom: 1;
  margin: 0;
}
.mod-sponsors .mod-sponsors-eyecatch {
  vertical-align: middle;
  display: table-cell;
  *display: inline;
  *zoom: 1;
  width: 1%;
  padding: 0 15px 0 0;
}
.mod-sponsors .mod-sponsors-eyecatch img {
  display: block;
}
.mod-sponsors h2 {
  font-size: 1em;
  padding: 5px 0 5px 30px;
  background: url(../img/mod-sponsors/ico_01.png) no-repeat 0 48%;
}
.mod-sponsors ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mod-sponsors li {
  padding: 0;
  margin: 0 0 20px;
}
.mod-sponsors li img {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================
   mod-twitterWedget
   ========================================================================== */
.mod-twitterWedget {
  background: #fff;
  padding: 10px;
}
.mod-twitterWedget .mod-twitterWedget-timeline {
  margin: 0 0 10px;
}

/* ==========================================================================
   mod-avatar
   ========================================================================== */
.mod-avatar {
  position: absolute;
  z-index: 1;
  padding: 0 0 0 8px;
}
.mod-avatar .mod-avatar-comment {
  font-size: 0.85714em;
  line-height: 1.2;
  white-space: pre-wrap;
  line-break: strict;
  word-break: break-all;
  word-wrap: break-word;
  position: absolute;
  bottom: 80px;
  left: 10px;
  width: 200px;
  padding: 0 8px;
  border-color: #a9b88a;
  border-style: solid;
  border-width: 8px 6px;
  margin: 0 0 10px;
  -webkit-border-image: url(../img/mod-avatar/bg_01.png) 8 6 fill stretch;
  -moz-border-image: url(../img/mod-avatar/bg_01.png) 8 6 fill stretch;
  -o-border-image: url(../img/mod-avatar/bg_01.png) 8 6 fill stretch;
  border-image: url(../img/mod-avatar/bg_01.png) 8 6 fill stretch;
}
.no-borderimage .mod-avatar .mod-avatar-comment {
  border-width: 2px;
  padding: 6px 14px;
  background: #fff;
}
.mod-avatar .mod-avatar-comment:after {
  content: '';
  position: absolute;
  bottom: -22px;
  left: 20px;
  display: block;
  width: 36px;
  height: 16px;
  background: url(../img/mod-avatar/bg_02.png);
}
.no-borderimage .mod-avatar .mod-avatar-comment:after {
  bottom: -16px;
}
.mod-avatar .mod-avatar-comment textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  margin: 0;
  height: 1.2em;
  width: 202px;
}
.mod-avatar.ex-avatar-me .mod-avatar-comment {
  -webkit-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 fill stretch;
  -moz-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 fill stretch;
  -o-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 fill stretch;
  border-image: url(../img/mod-avatar/bg_01me.png) 8 6 fill stretch;
}
.mod-avatar.ex-avatar-me .mod-avatar-comment:after {
  background: url(../img/mod-avatar/bg_02me.png);
}
.mod-avatar.inputMode .mod-avatar-comment {
  -webkit-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 fill stretch;
  -moz-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 fill stretch;
  -o-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 fill stretch;
  border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 fill stretch;
}
.no-borderimage .mod-avatar.inputMode .mod-avatar-comment {
  background: #ffc8c8;
}
.mod-avatar.inputMode textarea {
  background: #ffc8c8;
}
.mod-avatar img {
  display: block;
  margin: 0 0 0 -8px;
}

/* ==========================================================================
   mod-image
   ========================================================================== */
.mod-image .mod-image-gmapLink {
  font-size: 11px;
}

/* ==========================================================================
   mod-note
   ========================================================================== */
.mod-note {
  font-size: 16px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}
