---
nav: speakers
---
{{> first }}

<section class="mod-section">
	<div class="mod-heading">
		<h1>
			<span class="mod-heading-en">Speakers</span>
			<span class="mod-heading-ja">登壇者紹介</span>
		</h1>
	</div>

{{#each speaker}}
	<div class="mod-speaker">
		<div class="mod-speaker-image">
			<img src="{{ image }}" height="130" width="130" alt="">
		</div>
		<div class="mod-speaker-name">{{ name }}</div>
		{{#markdown}}{{ text }}{{/markdown}}
	</div>
{{/each}}

</section>

{{> second }}