<dom-module id="nf-twitter-widget">
  <style>
    :host {
      display: block;
    }
    .nf-twitter-widget__cols {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .nf-twitter-widget__col {
      display: table-cell;
      padding-left: 20px;
      vertical-align: top;
    }
    .nf-twitter-widget__col:first-child {
      padding-left: 0;
    }
    @media ( max-width: 600px ) {
      .nf-twitter-widget__cols {
        display: block;
      }
      .nf-twitter-widget__col {
        display: block;
        margin-top: 50px;
        padding-left: 0;
      }
      .nf-twitter-widget__col:first-child {
        margin-top: 0;
      }
    }
  </style>
  <template>
    <div class="nf-twitter-widget__cols">
      <div class="nf-twitter-widget__col">
        <nf-twitter-timeline></nf-twitter-timeline>
      </div>
      <div class="nf-twitter-widget__col">
        <nf-twitter-follow></nf-twitter-follow>
      </div>
    </div>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-twitter-widget',
      properties: {}
    });
  })();
</script>
