<dom-module id="nf-sp-speakers">
  <style>
    :host {
    }
    .nf-special-speakers-list {
      margin: 0 -7px;
    }
    .nf-special-speakers-list__item {
      margin: 0 7px 20px;
      background: #FFFFFF;
    }

    .nf-special-speaker__info {
      padding: 7px 10px;
    }
    .nf-special-speaker__name {
      font-size: 16px;
      font-weight: bold;
    }
    .nf-special-speaker__id {
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
<template>
  <section class="nf-section">
    <header class="nf-heading">
      <h1 class="nf-heading__h">Featured Speakers</h1>
    </header>
    <div class="nf-section__body nf-section__body--full">
      <div class="nf-special-speakers-list horizontal layout wrap">
        <template is="dom-repeat" items="{{speakers}}">
          <div class="nf-special-speakers-list__item">
            <paper-material elevation="2">
              <div class="nf-special-speaker">
                <div class="nf-special-speaker__thumb">
                  <a href$="{{_twitterUrl(item.twitter)}}">
                    <img src$="{{item.thumb}}" width="224" height="224" alt$="{{item.twitter}}">
                  </a>
                </div>
                <div class="nf-special-speaker__info">
                  <p class="nf-special-speaker__name"><span>{{item.name}}</span></p>
                  <p class="nf-special-speaker__id"><a href$="{{_twitterUrl(item.twitter)}}">@<span>{{item.twitter}}</span></a></p>
                </div>
              </div>
            </paper-material>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>
<script>
Polymer({
  is: 'nf-sp-speakers',
  ready: function() {
    this.speakers = [];
  },
  fetch: function() {
    this.speakers = window.NF.TEXT.SPEAKERS.OVERSEAS;
  },
  _twitterUrl: function(account) { return 'https://twitter.com/' + account }
});
</script>
</dom-module>
