<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <title>アクセス | 東京Node学園祭2011</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="stylesheets/sponsors_side.css" />
  <!--[if IE]>
  <script>
  document.createElement("header" );
  document.createElement("footer" );
  document.createElement("section");
  document.createElement("aside"  );
  document.createElement("nav"    );
  document.createElement("article");
  document.createElement("hgroup" );
  document.createElement("time"   );
  </script>
  <noscript>ご利用のブラウザで JavaScript を有効にしてください。</noscript>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.tmpl.js"></script>
  <script type="text/javascript" src="javascripts/util.js"></script>
  <script type="text/javascript" src="javascripts/sponsors.js"></script>
  <script type="text/javascript">
    $(function() {
      buildSponsosrArea('sponsorTemplate');
    });
  </script>
 </head>
<body>
<div id="sponsors">
  <div id="platinum">
    <h2>Platinum Sponsors</h2>
    <ul id="platinumSponsors">
    </ul>
  </div>

  <div id="gold">
    <h2>Gold Sponsors</h2>
    <ul id="goldSponsors">
    </ul>
  </div>

  <div id="silver">
    <h2>Silver Sponsors</h2>
    <ul id="silverSponsors">
    </ul>
  </div>

  <div id="supporter">
    <h2>Supporters</h2>
    <ul id="supporters">
    </ul>
  </div>
</div>

<script id="sponsorTemplate" type="text/x-jquery-tmpl">
  <li id="${id}"{{if order}} class="${order}"{{/if}}>
    <div class="imgBox"><a href="sponsors.html#${id}"><img src="images/sponsors/${logo}" {{if alt}}alt="${alt}" title="${alt}{{else}}alt="${name}" title="${name}{{/if}}" align="top"/></a></div>
  </li>
</script>
</body>
</html>