
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
body {
	border-top: solid 4px #000;
	font-size: 12px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

section, article, aside, footer, header, nav, hgroup {
  display:block;
}

#wrapper {
	width: 920px;
	margin: 0 auto;
}

h1#logo {
	margin: 10px 0;
}

#twitter, #fb, #plus, #hatena {
	float: right;
}
#twitter {
	width: 85px;
}
#fb, #plus, #hatena {
	width: 55px;
}
#eyecatch{
	margin: 10px 0;
}

/* navigation menu */
.nav { 
	margin: 15px auto;
	font: 18px Georgia, serif;
	border-bottom: 2px solid #ccc; 
}

/* columns */
#col1 {
	float: left;
	width: 300px;
	height: 280px;
	margin-right: 10px;
}
#col2 {
	float: left;
	width: 300px;
	margin-right: 10px;
}
#col3 {
	margin-left: 620px;
	width: 300px;
}
h2 {
	font-size: 28px;
	font-family: 'Puritan', sans-serif;
}

/* the-green 140,200,75 */

footer {
	border-top: solid 1px #000;
	padding-top: 3px;
	font-size: 11px;
	text-align: right;
}

/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

/* Example One */
#example-one { 
	margin: 0 auto; 
	list-style: none; 
	position: relative; 
	width: 920px; 
}
#example-one li { 
	display: inline-block;	
}
#example-one a { 
	color: #bbb; 
	font-size: 15px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#example-one a:hover { 
	color: #000; 
}
#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #8CC84B;
}
.current_page_item a { 
	color: #000 !important; 
}
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}

