<header id="header" class="header">
  <div class="header-inner">
    <a href="./" class="header-logo"><img src="img/logo-tnf-invert.svg" alt="東京Node学園祭2016"></a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li><a href="schedule.html" class="navigation-target">Schedule</a></li>
        <li><a href="team.html" class="navigation-target">Team</a></li>
      </ul>
  </div>
</header>
