<!-- Tickets -->
<section class="tickets" id="tickets">
  <div class="tickets-inner">
    <header class="tickets-header">
      <h3 class="tickets-title">Tickets</h3>
      <div class="tickets-note">
        <p>参加申し込みは10月25日頃を開始予定です。</p>
      </div>
    </header>
    <div class="tickets-body">
      <div class="tickets-action">
        <div class="tickets-button">
          <a href="#" class="Button -workshop is-disabled" target="_blank">
            Get Your Ticket
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
