@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin top() {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
