<!DOCTYPE html>
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<title>東京Node学園祭2013</title>
<meta name="description" content="">
<meta name="viewport" content="width=1040">
<meta property="og:title" content="東京Node学園祭2013" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://nodefest.jp/2013/" />
<meta property="og:image" content="http://nodefest.jp/2013/assets/img/mod-pageHeader/logo.png" />
<meta property="og:description" content='このたびNode.js日本ユーザグループは、第3回目となるNode.jsのカンファレンス「東京Node学園祭 2013」を開催いたします。今回は、日本国内のエンジニアに多くの発表機会を提供することを狙いとしています。参加者がただの聴衆にならず、真の"参加"者となれるカンファレンスを目指します。' />
<link rel="stylesheet" href="/2013/assets/css/style.css">
<script src="/2013/assets/js/vendor/modernizr.custom.js"></script>
</head>
<body>

<header class="mod-pageHeader">
	<div class="mod-pageHeader-inner">
		<h1><a href="/2013/"><img src="/2013/assets/img/mod-pageHeader/logo.png" height="65" width="280" alt="東京Node学園祭2013"></a></h1>
		<div class="mod-pageHeader-info">
			<span class="mod-pageHeader-info1">Tokyo Node Fest.</span><br>
			<span class="mod-pageHeader-info2">2013年10月26日(土) 13:00-18:00</span>(予定)<br>
			後夜祭<span class="mod-pageHeader-info3">18:30-</span><br>
			<span class="mod-pageHeader-info4">ニフティ株式会社 セミナールーム（新宿フロントタワー内）</span>
		</div>
	</div>
</header>

<div class="mod-pageBody">
	<div class="mod-pageMain"><!-- LazyJaxDavis start -->
