@import "_normalize.scss";
@import "_mixin.scss";

%zindex{
	position:relative;
	z-index:10;
}

html{
}

body{
	font-size:$basefontSize * 1px;
	font-family: $fontSansSerif;
	min-width:970px;
	background: url(../img/bg_01.png);
}

a{
	color:#6b9e00;
	&:hover{
		text-decoration: none;
	}
}

ul, ol{
	margin-top:.6em;
	margin-bottom:.6em;
}
/* ==========================================================================
   mod-pageHeader
   ========================================================================== */
.mod-pageHeader{
	@extend %zindex;
	overflow-x: hidden;
	margin-bottom:40px;
	.mod-pageHeader-banner{
		border-bottom:3px solid #546c22;
		background: url(../img/mod-pageHeader/bg_01.png) 50% 0;
	}
	.mod-pageHeader-bannerInner{
		position: relative;
		width:950px;
		min-height: 52px;
		padding:0 10px;
		margin:0 auto;
		background: url(../img/mod-pageHeader/bg_02.png) 50% 0;
	}
	.mod-pageHeader-logo{
		margin: 0;
		position: absolute;
		top:0;
		left:0;
		img{
			display: block;
		}
	}
	.mod-pageHeader-text{
		color:#fff32d;
		font-size:font-size(14);
		font-weight: bold;
		line-height: 1.4;
		text-align:right;
		width:290px;
		padding:14px 0 0 0;
		margin:0 0 0 auto;
		img{
			display:block;
			margin: 0 0 0 auto;
		}
		span{
			font-size:font-size(12, 16);
		}
	}
	.mod-pageHeader-socialButtons{
		background: url(../img/mod-pageHeader/bg_03.png) repeat-x #e9efd6;
	}
	.mod-pageHeader-socialButtonsInner{
		min-height: 22px;
		padding:1px 5px;
	}
	nav{
		@extend %clearfix;
		width:950px;
		padding:0 10px;
		margin:0 auto;
		ul{
			margin:0 -10px 0 0;
			padding:0;
			list-style: none;
		}
		li{
			width:160px;
			margin:0;
			float:left;
		}
		a{
			display: block;
			width:100%;
			outline: none;
			@include transition(margin, .1s, linear);
			&:hover{
				margin-left:-6px;
			}
		}
		img{
			display:block;
		}
	}
}


/* ==========================================================================
   mod-pageBody
   ========================================================================== */
.mod-pageBody{
	@extend %zindex;
	@extend %clearfix;
	clear: both;
	width:950px;
	margin:0 auto;
	padding:0 5px;
	.mod-pageBody-main{
		float:left;
		width:620px;
	}
	.mod-pageBody-side{
		float: right;
		width:310px;
	}
}

/* ==========================================================================
   mod-pageFooter
   ========================================================================== */
.mod-pageFooter{
	@extend %zindex;
	color:#d2d8ba;
	clear: both;
	margin-top:20px;
	background:#46483e;
	.mod-pageFooter-inner{
		width:970px;
		padding:20px 0;
		margin:0 auto;
	}
	small{
		font-size:font-size(12);
		text-align: center;
		display: block;
	}
	a{
		color:#8cc84b;
	}
}

/* ==========================================================================
   mod-list
   ========================================================================== */
.mod-listMarkNone{
	padding-left:0;
	margin-left:0;
	list-style:none;
	li{
		padding-left:0;
		margin-left:0;
	}
}

.mod-listMarkText{
	padding-left:0;
	margin-left:0;
	list-style:none;
	li{
		padding-left: 1.5em;
		margin-left:0;
	}
	span.mod-listMarkText-mark{
		display: inline-block;
		width: 1.5em;
		margin-left: -1.5em;
	}
}


/* ==========================================================================
   mod-section / mod-subSection
   ========================================================================== */
%mod-section{
	padding: 30px;
	margin:0 0 20px;
	background:rgba(255,255,247,.87);
	background:url(../img/mod-section/bg_01_top.png) no-repeat, url(../img/mod-section/bg_01_btm.png) no-repeat 0 100%;
	position:relative;
	z-index:2;
	.no-rgba &{
		background: url(../img/mod-section/bg-all.png);
	}
	&:before{
		content:'';
		position:absolute;
		z-index:-1;
		top:28px;
		bottom:28px;
		right:0;
		left:0;
		display:block;
		background:rgba(255,255,247,.87);
	}
	p{
		margin:0 0 1em;
	}
}
%mod-section-header{
	display: table;
	position:relative;
	width:620px;
	margin:-24px -30px 1em -30px;
	h1{
		font-size:100%;
		vertical-align: middle;
		display: table-cell;
		*display:inline;
		*zoom:1;
		margin:0;
	}
}
%mod-section-eyecatch{
	vertical-align: middle;
	display: table-cell;
	*display:inline;
	*zoom:1;
	width:1%;
	padding:0 15px 0 0;
	img{
		display: block;
	}
}

/* mod-section */
.mod-section{
	@extend %mod-section;
	&.ex-section-important{
		background:#fff;
		background:url(../img/mod-section/bg_02_top.png) no-repeat, url(../img/mod-section/bg_02_btm.png) no-repeat 0 100%;
		&:before{background:#fff;}
	}
	.mod-section-header{
		@extend %mod-section-header;
		color:#32351d;
		h1{
			font-size:font-size(30);
		}
	}
	.mod-section-eyecatch{
		@extend %mod-section-eyecatch;
	}
	.mod-section-h2{
		font-size:100%;
		margin:1em 0 .1em;
	}
}

/* mod-subSection */
.mod-subSection{
	@extend %mod-section;
	font-size:font-size(12);
	.mod-subSection-header{
		@extend %mod-section-header;
		color:#46483e;
		h1{
			font-size:font-size(22, 12);
		}
	}
	.mod-subSection-eyecatch{
		@extend %mod-section-eyecatch;
		padding-right:10px;
	}
}




/* ==========================================================================
   mod-table
   ========================================================================== */
.mod-table{
	table{
		width:100%;
		border-top:1px solid #d6dac9;
	}
	th,td{
		vertical-align: top;
		padding:.8em 0;
		border-bottom:1px solid #d6dac9;
	}
	th{
		text-align: left;
	}
}

/* ==========================================================================
   mod-speakerInfo
   ========================================================================== */
.mod-speakerInfo{
	font-size:font-size(13);
	line-height: 1.4;
	position: relative;
	_height:130px;
	min-height:130px;
	padding-left:165px;
	padding-bottom: 20px;
	.mod-speakerInfo-header{
		h1{
			font-size:font-size(18,13);
			margin:0 0 .3em;
		}
	}
	.mod-speakerInfo-image{
		position:absolute;
		top:0;
		left:0;
		img{
			display: block;
		}
	}
}

/* ==========================================================================
   mod-suponsorInfo
   ========================================================================== */
.mod-suponsorInfo{
	font-size:font-size(13);
	line-height: 1.4;
	margin:0 0 font-size(30, 13);
	p{
		margin:0 0 .5em;
	}
	.mod-suponsorInfo-header{
		h1{
			font-size:font-size(18,13);
			margin:0 0 .3em;
		}
	}
	.mod-suponsorInfo-image{
		margin:0 0 10px 30px;
		float:right;
		img{
			display:block;
		}
	}
}

/* ==========================================================================
   mod-newsList
   ========================================================================== */
.mod-newsList{
	ul{
		margin:0;
		padding:0;
		list-style:none;
	}
	li{
		margin:0 0 .3em;
		padding:0;
	}
	span{
		color:#546c22;
		font-weight:bold;
		display:block;
	}
}

/* ==========================================================================
   mod-ticketVendor
   ========================================================================== */
.mod-ticketVendor{
	@extend %clearfix;
	font-size:font-size(13);
	margin:2em 0 1em;
	h2{
		font-size:100%;
		margin:0 0 .2em;
	}
	table{
		font-size:font-size(12,13);
	}
	th{
		text-align: left;
		font-weight:normal;
		padding:0 .5em 0 0;
		white-space: nowrap;
	}
	.mod-ticketVendor-text{
		float: left;
		width:200px;
	}
	.mod-ticketVendor-embeded{
		float:right;
		width:345px;
	}
}


/* ==========================================================================
   mod-sessionTable
   ========================================================================== */
.mod-sessionTable{
	font-size:font-size(13);
	table{
		line-height: 1.4;
		width:100%;
		border-spacing:10;
	}
	th,td{
	}
	thead th{
		color:#fff;
		padding:.3em 0 .3em 10px;
		background:url(../img/mod-sessionTable/bg_01_btm.png) no-repeat 100% 100%, url(../img/mod-sessionTable/bg_01_top.png) no-repeat 10px 0;
		&:first-child{
			background-position: 100% 100%, 0 0;
		}
	}
	tbody th{
		text-align: left;
		vertical-align: top;
		padding:.8em 0 .8em 10px;
		border-bottom:1px solid #d6dac9;
	}
	td{
		padding:.8em 0 .8em 10px;
		border-bottom:1px solid #d6dac9;
	}
	a[href*=twitter]{
		color:#666;
	}
	.mod-sessionTable-title{
		font-size:font-size(14);
		font-weight:bold;
	}
	.mod-sessionTable-list{
		h1{
			color:#3f4517;
			font-size:100%;
			text-align: center;
			padding:.3em 10px;
			margin:-.3em 0 0;
			background:url(../img/mod-sessionTable/bg_02_btm.png) no-repeat 100% 100%, url(../img/mod-sessionTable/bg_02_top.png) no-repeat 0 0 #a4ed3b;
		}
		ul{
			margin:0;
			padding:0;
			list-style: none;
		}
		li{
			margin: 0;
			padding:.8em 0;
			border-top:1px solid #d6dac9;
			&:first-child{
				border-top:none;
			}
		}
	}
}

/* ==========================================================================
   mod-sponsors
   ========================================================================== */
.mod-sponsors{
	padding:30px 20px;
	margin:0 0 20px;
	background:url(../img/mod-sponsors/bg_01_top.png) no-repeat, url(../img/mod-sponsors/bg_01_btm.png) no-repeat 0 100%;
	position:relative;
	z-index:2;
	.no-multiplebgs &{
		padding-top:42px;
		top: -20px;
	}
	&:before{
		content:'';
		display:block;
		position:absolute;
		z-index:-1;
		left:0;
		right:0;
		top:22px;
		bottom:22px;
		background:#fff;
	}
	&:after{}
	.mod-sponsors-header{
		display: table;
		width:310px;
		margin:-20px -20px 10px;
		h1{
			font-size:100%;
			vertical-align: middle;
			display: table-cell;
			*display:inline;
			*zoom:1;
			margin:0;
		}
	}
	.mod-sponsors-eyecatch{
		vertical-align: middle;
		display: table-cell;
		*display:inline;
		*zoom:1;
		width:1%;
		padding:0 15px 0 0;
		img{
			display: block;
		}
	}
	h2{
		font-size:font-size(14);
		padding:2px 0 2px 30px;
		background:url(../img/mod-sponsors/ico_01.png) no-repeat 0 48%;
	}
	ul{
		padding:0;
		margin:0;
		list-style:none;
	}
	li{
		padding:0;
		margin: 0 0 20px;
		img{
			display:block;
			margin:0 auto;
		}
	}
}

/* ==========================================================================
   mod-twitterWedget
   ========================================================================== */
.mod-twitterWedget{
	background:#fff;
	padding:10px;
	.mod-twitterWedget-timeline{
		margin:0 0 10px;
	}
}

/* ==========================================================================
   mod-avatar
   ========================================================================== */
.mod-avatar{
	position:absolute;
	z-index: 1;
	//pointer-events:none;
	padding:0 0 0 8px;
	.mod-avatar-comment{
		font-size:font-size(12);
		line-height: 1.2;
		white-space: pre-wrap;
		line-break: strict;
		word-break: break-all;
		word-wrap: break-word;
		position:absolute;
		bottom: 80px;
		left: 10px;
		width:200px;
		padding: 0 8px;
		margin:0 0 10px;
		border-width: 8px 6px;
		-webkit-border-image: url(../img/mod-avatar/bg_01.png) 8 6 stretch;
		   -moz-border-image: url(../img/mod-avatar/bg_01.png) 8 6 stretch;
		     -o-border-image: url(../img/mod-avatar/bg_01.png) 8 6 stretch;
				border-image-source: url(../img/mod-avatar/bg_01.png);
				border-image-slice: 8 6;
				border-image-width: 8px 6px;
				border-image-outset: 8px 6px;
		background:#fff;
		.no-borderimage &{
			//no-border-radius
			border:2px solid #a9b88a;
			padding:6px 14px;
			background:#fff;
		}
		&:after{
			content:'';
			position:absolute;
			bottom:-22px;
			left:20px;
			display:block;
			width:36px;
			height: 16px;
			background:url(../img/mod-avatar/bg_02.png);
			.no-borderimage &{
				//no-border-radius
				bottom:-16px;
			}
		}
		textarea{
			font-family:inherit;
			font-size:inherit;
			line-height: 1.2;
			border: none;
			outline: none;
			resize: none;
			padding: 0;
			margin: 0;
			height: 1.2em;
			width: 202px;
		}
	}
	&.ex-avatar-me{
		.mod-avatar-comment{
			-webkit-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 stretch;
			   -moz-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 stretch;
			     -o-border-image: url(../img/mod-avatar/bg_01me.png) 8 6 stretch;
					border-image-source: url(../img/mod-avatar/bg_01me.png);
					border-image-slice: 8 6;
					border-image-width: 8px 6px;
					border-image-outset: 8px 6px;
			&:after{
				background:url(../img/mod-avatar/bg_02me.png);
			}
		}
	}
	&.inputMode{
		.mod-avatar-comment{
			-webkit-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 stretch;
			   -moz-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 stretch;
				 -o-border-image: url(../img/mod-avatar/bg_01me_input.png) 8 6 stretch;
					border-image-source: url(../img/mod-avatar/bg_01me_input.png);
					border-image-slice: 8 6;
					border-image-width: 8px 6px;
					border-image-outset: 8px 6px;
			background: #ffc8c8;
			.no-borderimage &{
				background: #ffc8c8;
			}
		}
		textarea{
			background: #ffc8c8;
		}
	}
	img{
		display:block;
		margin:0 0 0 -8px;
		// h70 * w40
	}
}

/* ==========================================================================
   mod-image
   ========================================================================== */
.mod-image {
	.mod-image-gmapLink {
		font-size: 11px;
	}
}
