---
layout: default
name: session
---

<section class="mod-section">
	<header class="mod-section-header">
		<div class="mod-section-eyecatch"><img src="img/session/ico_01.png" alt="session" width="60" height="70"></div>
		<h1>学園祭セッション内容</h1>
	</header>

	<p>セッションは日本語・英語で行われます。</p>
	<p>なお、現在まだ調整中ですのでプログラムの内容や順番が変更となる場合がございますのでご了承下さい。</p>

	<div class="mod-sessionTable">
		<table>
			<col width="140">
			<col width="220">
			<col width="200">
			<thead>
				<tr>
					<th>時間</th>
					<th>トラック A</th>
					<th>トラック B</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>10:30〜10:55</th>
					<td><div class="mod-sessionTable-title">開場</div></td>
					<td>―</td>
				</tr>
				<tr>
					<th>10:55〜11:00</th>
					<td><div class="mod-sessionTable-title">イントロダクション</div>学園祭 実行委員長 <a href="https://twitter.com/meso">@meso</a></td>
					<td>―</td>
				</tr>
				<tr>
					<th>11:00〜11:45</th>
					<td><div class="mod-sessionTable-title">基調講演</div><a href="speakers.html#izs">Isaac Schlueter</a> <a href="https://twitter.com/izs">@izs</a></td>
					<td>―</td>
				</tr>
				<tr>
					<th>12:00〜12:45</th>
					<td><div class="mod-sessionTable-title">未定</div><a href="speakers.html#mikeal">Mikeal Rogers</a> <a href="https://twitter.com/mikeal">@mikeal</a></td>
					<td><div class="mod-sessionTable-title">未定</div>募集中</td>
				</tr>
				<tr>
					<th>13:00〜13:45</th>
					<td><div class="mod-sessionTable-title">未定</div><a href="speakers.html#substack">James Halliday</a> <a href="https://twitter.com/substack">@substack</a></td>
					<td><div class="mod-sessionTable-title">未定</div>募集中</td>
				</tr>
				<tr>
					<th>14:00〜14:45</th>
					<td><div class="mod-sessionTable-title">未定</div><a href="speakers.html#charlie">Charlie Robbins</a> <a href="https://twitter.com/indexzero">@indexzero</a></td>
					<td><div class="mod-sessionTable-title">未定</div>募集中</td>
				</tr>
				<tr>
					<th>15:00〜15:45</th>
					<td><div class="mod-sessionTable-title">未定</div>スポンサーセッション<br>（リクルート）</td>
					<td><div class="mod-sessionTable-title">未定</div>募集中</td>
				</tr>
				<tr>
					<th>16:00〜17:30</th>
					<td colspan="2">
						<section class="mod-sessionTable-list">
							<h1>LT大会（各10分）</h1>
							{% if site.sessions.LT %}
							<ul>
								{% for data in site.sessions.LT %}
								<li>
									<div class="mod-sessionTable-title">
										{{ data.title }}
									</div>
									{{ data.name }}
									{% if data.twitter %}
									<a href="https://twitter.com/{{ data.twitter }}">@{{ data.twitter }}</a>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
							{% else %}
							<p class="note">募集中</p>
							{% endif %}
						</section>
					</td>
				</tr>
				<tr>
					<th>17:30〜18:00</th>
					<td><div class="mod-sessionTable-title">閉幕</div></td>
					<td></td>
				</tr>
				<tr>
					<th>18:30〜</th>
					<td><div class="mod-sessionTable-title">後夜祭</div></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
<!-- /.mod-section --></section>
