---
layout: default
---

{% for sponsor in site.sponsors %}
<section class="mod-section">
	<header class="mod-section-header">
		<div class="mod-section-eyecatch"><img src="img/sponsors/{{ sponsor.icon }}" alt="{{ sponsor.label }}" width="60" height="70"></div>
		<h1>{{ sponsor.label_ja }}</h1>
	</header>

	{% for company in sponsor.companies %}
	<section class="mod-suponsorInfo">
		<a href="{{ company.url }}">
			<div class="mod-suponsorInfo-header">
				<h1>{{ company.name }}</h1>
			</div>
			<div class="mod-suponsorInfo-image">
				<img src="assets/img/logo/{{ company.img }}" alt="{{ company.name }}">
			</div>
		</a>
		{{ company.description | markdownify }}
	</section>
	{% endfor %}
<!-- /.mod-section --></section>
{% endfor %}
