<dom-module id="nf-schedule-table">
  <style>
    .nf-timetable__row {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    .nf-timetable__row__index,
    .nf-timetable__row__item {
      box-sizing: border-box;
      padding: 15px 20px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-width: 0 1px 1px 0;
      font-size: 18px;
      line-height: 1.5;
    }
    .nf-timetable__row__index {
      width: 150px;
    }
    .nf-timetable__row__item {
      -ms-flex: 1 1 0.000000001px;
      -webkit-flex: 1;
      flex: 1;
      -webkit-flex-basis: 0.000000001px;
      flex-basis: 0.000000001px;
      font-weight: bold;
    }
    .nf-timetable__inner-heading {
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.54);
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    .nf-timetable-cell-index {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.54);
      white-space: nowrap;
      font-weight: bold;
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      vertical-align: middle;
    }
    .nf-session-item {
      display: table;
      width: 100%;
      line-height: 1.5;
    }
    .nf-session-item__thumb {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      vertical-align: top;
    }
    .nf-session-item__image {
      display: block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border: 2px solid #009688;
      border-radius: 50px;
    }
    .nf-session-item__text {
      display: table-cell;
      vertical-align: top;
    }
    .nf-session-item__speaker:before {
      content: ", "
    }
    .nf-session-item__speaker:first-child:before {
      content: ""
    }
  </style>
  <template>
    <div class="nf-timetable">
      <div class="nf-timetable__row">
        <div class="nf-timetable__row__index nf-timetable-cell-index"></div>
        <div class="nf-timetable__row__item nf-timetable-cell-index">RoomA</div>
        <div class="nf-timetable__row__item nf-timetable-cell-index">RoomB</div>
      </div>

      <template is="dom-repeat" items="{{timeTable}}" as="row">
      <div class="nf-timetable__row">
        <div class="nf-timetable__row__index nf-timetable-cell-index">
          <div>{{row.time}}</div>
        </div>
        <template is="dom-repeat" items="{{row.content}}">
        <div class="nf-timetable__row__item">
          <template is="dom-if" if="{{row.isFrame}}">
          <span>{{item}}</span>
          </template>
          <template is="dom-if" if="{{row.isSession}}">
          <div class="nf-session-item">
            <div class="nf-session-item__thumb">
              <span class="nf-session-item__image"><img src="{{item.thumb}}" alt$="{{item.name}}" width="50" height="50"></span>
            </div>
            <div class="nf-session-item__text">
              <div class="nf-session-item__title">{{item.title}}</div>
                <div class="nf-session-item__speakers">
                  <template is="dom-repeat" items="{{item.speakers}}">
                    <span class="nf-session-item__speaker"><a href$="{{item.url}}">{{item.name}}</a></span>
                  </template>
              </div>
            </div>
          </div>
          </template>
          <template is="dom-if" if="{{row.isLT}}">
          <div class="nf-timetable__inner-heading">Lightning Talks</div>
          <ul class="nf-ul">
            <li>調整中</li>
            <!-- <template is="dom-repeat" items="{{row.content.0}}">
            <li><span>{{item.title}}</span>, <a href$="{{_twitterUrl(item.twitter)}}">@<span>{{item.twitter}}</span></a></li>
            </template> -->
          </ul>
          </template>
        </div>
        </template>
      </div>
      </template>
    </div>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'nf-schedule-table',
        properties: {},
        ready: function() {
          this.timeTable = [];
        },
        fetch: function() {
          var TIME_TABLE = window.NF.TEXT.SCHEDULE.ORDER;
          var CONTENT    = window.NF.TEXT.SCHEDULE.CONTENT;

          TIME_TABLE.forEach(function(row) {
            row.isFrame   = row.type === 1;
            row.isSession = row.type === 2;
            row.isLT      = row.type === 3;

            row.content = row.content.map(function(key) {
              return CONTENT[key];
            });
          });
          this.timeTable = TIME_TABLE;
        },
        _twitterUrl: function(a) { return 'https://twitter.com/' + a; }
      });
    })();
  </script>
</dom-module>
