<dom-module id="nf-created-by">
  <style>
    :host {
      display: block;
      font-size: 12px;
      color: #727272;
    }
    .nf-created-by__link {
      color: #727272;
    }
  </style>
  <template>
    <p>This Web site was created by <a href="http://t32k.me/" class="nf-created-by__link">@t32k</a> and <a  class="nf-created-by__link" href="http://www.pxgrid.com/">PixelGrid, Inc.</a></p>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-created-by',
      properties: {}
    });
  })();
</script>
