<dom-module id="nf-top-gimmick">
  <style>
    :host {
      display: block;
      position: relative;
      z-index: 0;
      overflow: hidden;
      width: 100%;
      min-height: 450px;
      padding-bottom: 270px;
      margin-bottom: -270px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }

    .nf-top-gimmick__game-info {
      position: absolute;
      top: 25px;
      right: 40px;
      font-size: 12px;
    }
    .nf-top-gimmick__game-bar {
      position: relative;
      width: 150px;
      height: 20px;
      margin-bottom: 5px;
      background: rgba(0,0,0,0.87);
      border-radius: 4px;
    }
    .nf-top-gimmick__game-bar-data {
      position: absolute;
      top: 0;
      height: 100%;
      border-radius: 4px;
    }
    .nf-top-gimmick__game-bar-data--1 {
      left: 0;
      background: #0091EA;
    }
    .nf-top-gimmick__game-bar-data--2 {
      right: 0;
      background: #FFAB00;
    }
    .nf-top-gimmick__game-bar-label {
      position: absolute;
      top: 5px;
      line-height: 1;
      font-family: Roboto;
      font-size: 10px;
      font-weight: bold;
      color: #FFFFFF;
    }
    .nf-top-gimmick__game-bar-label--1 {
      left: 5px;
      text-align: left;
    }
    .nf-top-gimmick__game-bar-label--2 {
      right: 5px;
      text-align: right;
    }
    .nf-top-gimmick__game-bar-label-num {
      font-size: 12px;
    }
    .nf-top-gimmick__game-people {
      display: table;
      width: 100%;
      line-height: 1;
    }
    .nf-top-gimmick__game-people-label {
      display: table-cell;
      width: 45%;
      font-family: Roboto;
      font-size: 10px;
      font-weight: bold;
      white-space: nowrap;
    }
    .nf-top-gimmick__game-people-label--1 {
      color: #0091EA;
      text-align: left;
      padding: 0 0 0 10px;
    }
    .nf-top-gimmick__game-people-label--2 {
      color: #FFAB00;
      text-align: right;
      padding: 0 10px 0 0;
    }
    .nf-top-gimmick__game-people-label-num {
      font-size: 12px;
    }
    .nf-top-gimmick__game-people-vs {
      display: table-cell;
      width: 10%;
      text-align: center;
    }
    .nf-top-gimmick__game-people-icon {
      display: inline-block;
      width: 12px;
      height: 12px;
    }

    .nf-top-gimmick__rhino-wrap {
      font-size: 0;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      text-align: center;
    }
    .nf-top-gimmick__rhino {
      display: inline-block;
      vertical-align: bottom;
    }
    .nf-top-gimmick__rhino--parent {}
    .nf-top-gimmick__rhino--child {}
    .nf-top-gimmick__rhino svg {
      vertical-align: bottom;
    }
    @media ( max-width: 680px ) {
      .nf-top-gimmick__rhino-wrap {
        display: table;
        width: 100%;
        height: 250px;
      }
      .nf-top-gimmick__rhino {
        vertical-align: bottom;
        display: table-cell;
        height: 250px;
      }
      .nf-top-gimmick__rhino--parent {
        width: 60%;
      }
      .nf-top-gimmick__rhino--child {
        width: 40%;
      }
      .nf-top-gimmick__rhino svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .nf-top-gimmick__grasses1 {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 1;
      width: 1600px;
      height: 500px;
      overflow: hidden;
      margin-left: -800px;
      border-radius: 2000px 2000px 0 0 / 500px 500px 0 0;
    }
    .nf-top-gimmick__grasses2 {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      width: 1600px;
      height: 500px;
      overflow: hidden;
      margin-left: -800px;
      background: #009688;
      border-radius: 2000px 2000px 0 0 / 500px 500px 0 0;
    }
    #nf-top-gimmick__grass1,
    #nf-top-gimmick__grass2,
    #nf-top-gimmick__grass3,
    #nf-top-gimmick__grass4 {
      position: absolute;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -ms-transform: translate3d( 0, 0, 0 );
          transform: translate3d( 0, 0, 0 );
    }
    #nf-top-gimmick__grass1 {
      animation-delay: 0s;
      animation-duration: 80s;
      animation-name: anim1;
    }
    #nf-top-gimmick__grass2 {
      animation-delay: 32s;
      animation-duration: 80s;
      animation-name: anim1;
    }
    #nf-top-gimmick__grass3 {
      animation-delay: 4s;
      animation-duration: 90s;
      animation-name: anim2;
    }
    #nf-top-gimmick__grass4 {
      animation-delay: 36s;
      animation-duration: 90s;
      animation-name: anim2;
    }
    @keyframes anim1 {
      0%   { top: 200px; left: 100% }
      15%  { top: 100px; left:  85% }
      30%  { top:  30px; left:  70% }
      50%  { top:  10px; left:  50% }
      70%  { top:  30px; left:  30% }
      85%  { top: 100px; left:  15% }
      100% { top: 200px; left:   0% }
    }
    @keyframes anim2 {
      0%   { top: 190px; left: 100% }
      15%  { top:  80px; left:  85% }
      30%  { top:  20px; left:  70% }
      50%  { top:   0px; left:  50% }
      70%  { top:  20px; left:  30% }
      85%  { top:  80px; left:  15% }
      100% { top: 190px; left:   0% }
    }

    .nf-top-gimmick__info {
      position: relative;
      z-index: 10;
      margin-top: 300px;
      text-align: center;
      color: #FFFFFF;
    }
    .nf-top-gimmick__info-title {
      line-height: 1;
      margin-bottom: 5px;
      font-size: 48px;
      font-weight: 100;
    }
    @media ( max-width: 680px ) {
      .nf-top-gimmick__info-title {
        font-size: 30px;
      }
    }
    .nf-top-gimmick__info-copy {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.7);
    }
    .nf-top-gimmick__info-copy br {
      display: none;
    }
    @media ( max-width: 680px ) {
      .nf-top-gimmick__info-copy {
        font-size: 14px;
      }
      .nf-top-gimmick__info-copy br {
        display: inline;
      }
    }
    .nf-top-gimmick__info-place {
      font-size: 24px;
    }
    .nf-top-gimmick__info-en {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 1;
      width: 100%;
      line-height: 1.5;
      font-family: Roboto;
      color: rgba(0, 0, 0, 0.54);
    }
    .nf-top-gimmick__info-en-inner {
      max-width: 940px;
      margin: 0 auto;
      padding-left: 40px;
    }
    .nf-top-gimmick__info-en-time {
      font-size: 18px;
    }
    .nf-top-gimmick__info-en-place {
      font-size: 14px;
    }
    @media ( max-width: 680px ) {
      .nf-top-gimmick__info-en-inner {
        padding-left: 20px;
      }
    }
  </style>
  <template>
    <div class="nf-top-gimmick__inner">
      <div class="nf-top-gimmick__info">
        <p class="nf-top-gimmick__info-title">東京Node学園祭2015</p>
        <p class="nf-top-gimmick__info-copy">年に一度、真剣に学んで楽しもう！<br>日本最大のNode.jsカンファレンス！</p>
        <p class="nf-top-gimmick__info-place">11月7日@渋谷マークシティ</p>
      </div>
      <div class="nf-top-gimmick__info-en">
        <div class="nf-top-gimmick__info-en-inner">
          <p class="nf-top-gimmick__info-en-time"><time datetime="2015-11-07">November 7, 2015</time></p>
          <p class="nf-top-gimmick__info-en-place">Shibuya Markcity 13F<br>Tokyo, Japan</p>
        </div>
      </div>

      <div class="nf-top-gimmick__game-info">
        <div class="nf-top-gimmick__game-bar">
          <div id="js-nf-paint-bar-a" class="nf-top-gimmick__game-bar-data nf-top-gimmick__game-bar-data--1"></div>
          <div id="js-nf-paint-bar-b" class="nf-top-gimmick__game-bar-data nf-top-gimmick__game-bar-data--2"></div>
          <div class="nf-top-gimmick__game-bar-label nf-top-gimmick__game-bar-label--1">
            <span class="nf-top-gimmick__game-bar-label-num" id="js-nf-paint-stat-a">0</span>%
          </div>
          <div class="nf-top-gimmick__game-bar-label nf-top-gimmick__game-bar-label--2">
            <span class="nf-top-gimmick__game-bar-label-num" id="js-nf-paint-stat-b">0</span>%
          </div>
        </div>
        <div class="nf-top-gimmick__game-people">
          <div class="nf-top-gimmick__game-people-label nf-top-gimmick__game-people-label--1">
            <span id="js-nf-paint-people-a" class="nf-top-gimmick__game-people-label-num">0</span>
            people
          </div>
          <div class="nf-top-gimmick__game-people-vs">
            <iron-icon icon="svg-icons:vs" class="nf-top-gimmick__game-people-icon"></iron-icon>
          </div>
          <div class="nf-top-gimmick__game-people-label nf-top-gimmick__game-people-label--2">
            <span id="js-nf-paint-people-b" class="nf-top-gimmick__game-people-label-num">0</span>
            people
          </div>
        </div>
      </div>

      <div class="nf-top-gimmick__rhino-wrap" id="js-nf-rhino">
        <div class="nf-top-gimmick__rhino nf-top-gimmick__rhino--child">
          <svg id="rhino2" width="220" height="132" viewBox="0 0 300 180"></svg>
        </div>
        <div class="nf-top-gimmick__rhino nf-top-gimmick__rhino--parent">
          <svg id="rhino1" width="420" height="250" viewBox="0 0 420 250"></svg>
        </div>
      </div>
      <div class="nf-top-gimmick__grasses1">
        <svg id="nf-top-gimmick__grass1" width="20" height="60" viewBox="0 0 20 60">
          <polygon fill="#B2DFDB" points="5,0 0,60 10,60 "></polygon>
          <polygon fill="#B2DFDB" points="15,20 10,60 20,60 "></polygon>
        </svg>
        <svg id="nf-top-gimmick__grass2" width="20" height="60" viewBox="0 0 20 60">
          <polygon fill="#B2DFDB" points="15,0 20,60 10,60 "></polygon>
          <polygon fill="#B2DFDB" points="5,20 10,60 0,60 "></polygon>
        </svg>
      </div>
      <div class="nf-top-gimmick__grasses2">
        <svg id="nf-top-gimmick__grass3" width="20" height="40" viewBox="0 0 20 40">
          <polygon fill="#B2DFDB" points="15,0 20,40 10,40 "></polygon>
          <polygon fill="#B2DFDB" points="5,13.3 10,40 0,40 "></polygon>
        </svg>
        <svg id="nf-top-gimmick__grass4" width="20" height="40" viewBox="0 0 20 40">
          <polygon fill="#B2DFDB" points="5,0 0,40 10,40 "></polygon>
          <polygon fill="#B2DFDB" points="15,13.3 10,40 20,40 "></polygon>
        </svg>
      </div>
    </div>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-top-gimmick',
      properties: {}
    });
  })();
</script>
