<dom-module id="nf-link-list">
  <style>
    :host {
      display: block;
      list-style: none;
    }
    .nf-link-list__item {
      display: inline-block;
      margin-right: 1em;
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    .nf-link-list__item:last-child {
      margin-right: 0;
    }
  </style>
  <template>
    <ul>
      <li class="nf-link-list__item">
        <a href="https://nodejs.org/">Node.js</a>
      </li>
      <li class="nf-link-list__item">
        <a href="http://nodefest.jp/2014/">Node Fest. 2014</a>
      </li>
      <li class="nf-link-list__item">
        <a href="http://nodejs.jp/">Node.js Japan User Group</a>
      </li>
      <li class="nf-link-list__item">
        <a href="#!/coc">Code of Conduct</a>
      </li>
    </ul>
  </template>
</dom-module>

<script>
  (function () {
    Polymer({
      is: 'nf-link-list',
      properties: {}
    });
  })();
</script>
