.access {
    clear: both;
    padding: 10px 60px 0 20px;
}

.access h2 {
    font-size: 24px;
}

.access h3 {
    font-size: 14px;
}

.access > p.topnavilink {
    clear: both;
    font-size: 14px;
    text-align: right;
}

.access p.addr {
    font-size: 16px;
    line-height: 2em;
}

.access p.addren {
    font-size: 12px;
    line-height: 1em;
	margin-left:10px;
}


.access .descriptions {
    margin: 20px 10px 10px 10px;
    line-height: 2em;
}

.access .descriptions span{
    font-weight:bold;
}
