
.view3d {
  position: relative;
  cursor: none;
  background: #22c79a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjJjNzlhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxYmZiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#22c79a), color-stop(100%,#31bfbc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #22c79a 0%, #31bfbc 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(-45deg, #22c79a 0%, #31bfbc 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(-45deg, #22c79a 0%, #31bfbc 100%); /* IE10+ */
  background:         linear-gradient(135deg, #22c79a 0%, #31bfbc 100%); /* W3C */
}

.view3d canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.view3d__inner{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.view3d__cursor{
  pointer-events: none;
  position: absolute;
  top:-1000px;
  padding: 8px 0 0 8px;
  width: 0;
}

.view3d--onbutton .view3d__cursor{
  display: none;
}

.view3d__cursor:before{
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  background: url( ../img/view3d/cursor.png ) no-repeat;
}
.view3d.view3d--dragging .view3d__cursor:before{
  background-image: url( ../img/view3d/grab.png );
}
.view3d__textField{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0;
  overflow: hidden;
  -webkit-transition: width .3s;
          transition: width .3s;
}
.view3d__cursor.view3d__cursor--focused .view3d__textField{
  width: 150px;
}
.view3d__textField input{
  color: #FFF;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 146px;
  margin: 2px;
  border: none;
  background: rgba( 255, 255, 255, .5 );
}
// .view3d__ignore{
//   cursor: auto;
// }
