<!DOCTYPE html>
<html class="no-js">

{{> head }}

<body>
<div class="l-body" id="all">

{{> header }}

<section class="l-intro">
  <div class="intro">
    <header class="intro__header">
      <p class="intro__subTitle">年に一度、真剣に学んで遊ぼう！日本最大級のNode.jsカンファレンス！</p>
      <h1 class="intro__title">東京Node学園祭2014</h1>
    </header>
    <div class="intro__content">
      <div class="intro__texts">
        <p class="intro__datetime">
          <time class="intro__date" datetime="2014-11-15"><span class="intro__num">11</span>月<span class="intro__num">15</span>日（土）</time>
          <span class="intro__time"><time>13:00</time>-<time>18:00</time></span>
          <span class="intro__separator"> / </span>
          <span class="intro__afterParty">後夜祭 <time>18:30</time>-</span>
        </p>
        <p class="intro__place">会場：株式会社サイバーエージェント セミナールーム</p>
      </div>
      <div class="intro__buttons">
        <a class="intro__button" href="{}">イベントに参加する</a>
      </div>
      <div class="intro__recentNews">
        <p class="recentNews">
          <span class="recentNews__title">News</span>
          <span class="recentNews__subTitle"> - お知らせ | </span>
          <time class="recontNews__date" datetime="2014-08-18">2014.08.18</time>
          <span class="recentNews__text"><!--<a href="#news">-->公式サイトを公開しました。<!--</a>--></span>
        </p>
      </div>
      <a class="intro__detail" href="#content">詳細</a>
    </div>
  </div>
</section>

<article class="l-content" role="main" id="content">
  
  {{> body  }} 

  {{> social }}

</article>

{{> footer }}

</div>

{{> fireworks }}

{{> scripts }}

</body>
</html>
