<!DOCTYPE html>
<html class="no-js">

{{> head }}

<body>
<div class="l-body" id="all">

{{> header }}

<article class="l-content" role="main" id="content">

  {{> body  }}

  {{> sponsor }}

  {{> social }}

</article>

{{> footer }}

</div>

{{> fireworks }}

{{> scripts }}

</body>
</html>
