<% var sponsor = sponsors[id]; %>
<div class="sponsor">
  <a href="<%= sponsor.url %>" target="_blank" class="sponsor-banner -<%= grade %>">
    <img src="img/sponsors/<%= id %>.png" alt="<%= sponsor.name %>">
  </a>
</div>
