<!-- Tickets -->
<section class="tickets" id="tickets">
  <div class="tickets-inner">
    <header class="tickets-header">
      <h3 class="tickets-title">Get your tickets</h3>
      <div class="tickets-note">
        <p>今年は2日間に分けての開催！それぞれの日程ごとにお申し込みください。</p>
      </div>
    </header>
    <div class="tickets-body">
      <div class="tickets-action">
        <div class="tickets-button">
          <a href="https://eventdots.jp/event/602440" class="Button -workshop" target="_blank">
            Get 1st Day Ticket
            <span class="tickets-buttonLead">Nov 12</span>
          </a>
        </div>
        <div class="tickets-button">
          <a href="http://nodejs.connpass.com/event/42182" class="Button -conference" target="_blank">
            Get 2nd Day Ticket
            <span class="tickets-buttonLead">Nov 13</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
