<!-- Tickets -->
<section class="tickets" id="tickets">
  <div class="tickets-inner">
    <header class="tickets-header">
      <h3 class="tickets-title">Get your tickets</h3>
      <div class="tickets-note">
        <p>今年は2日間に分けての開催！それぞれの日程ごとにお申し込みください。</p>
        <p><span class="u-em">2016/10/17 現在: システムトラブルの影響で1日目の申し込みを制限しております。</span><br/>
          なお2日目は問題なく申し込み可能です。<br/>
        1日目の申し込みが再開次第、<a href="https://twitter.com/nodefest?lang=ja" class="u-link">公式Twitter</a>等でアナウンスをします。</p>
      </div>
    </header>
    <div class="tickets-body">
      <div class="tickets-action">
        <div class="tickets-button">
          <div href="https://eventdots.jp/event/602440" class="Button -workshop is-disabled" target="_blank">
            Get 1st Day Ticket
            <span class="tickets-buttonLead">Nov 12</span>
          </div>
        </div>
        <div class="tickets-button">
          <a href="http://nodejs.connpass.com/event/42182" class="Button -conference" target="_blank">
            Get 2nd Day Ticket
            <span class="tickets-buttonLead">Nov 13</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
