<div class="timetable -workshop">
  <div class="timetable-caption">
    <h3 class="timetable-title">
      Nov 12 <span class="timetable-venue">at dots.</span>              </h3>
  </div>
  <div class="timetable-header">
    <div class="timetable-time"></div>
    <div class="timetable-section">
      <p>Event space</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>09:00 - 10:00</p>
    </div>
    <div class="timetable-content">
      <p>Opening</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>10:00 - 12:00</p>
    </div>
    <div class="timetable-content">
      <p class="timetable-sessionTitle">Node School</p>
      <p class="timetable-sessionTitle">Node Discussion</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>12:00 - 13:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionLunch">Lunch</p>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>13:00 - 15:00</p>
    </div>
    <div class="timetable-content">
      <p class="timetable-sessionTitle">Node School</p>
      <p class="timetable-sessionTitle">Braintree Workshop</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>15:00 - 17:00</p>
    </div>
    <div class="timetable-content">
      <p class="timetable-sessionTitle">Node School</p>
      <p class="timetable-sessionTitle">Code and Learn</p>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>17:00 - 18:00</p>
    </div>
    <div class="timetable-content">
      <div class="timetable-session">
        <p class="timetable-sessionTitle">Lightning Talks</p>
        <ul class="timetable-lts">
          <li>
            <p class="timetable-ltsTitle">Node.js イベントループを調べてみた</p>
            <p class="timetable-ltsSpeaker">Tomo Masakura</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Electronで製造ラインアプリ開発</p>
            <p class="timetable-ltsSpeaker">fossamagna</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Node.jsに縁のない職場でNode.jsを使い始めるための戦術</p>
            <p class="timetable-ltsSpeaker">鈴木 勇</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Node.js × Babel で AWS Lambda アプリケーションを開発する</p>
            <p class="timetable-ltsSpeaker">hkusu</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Node.jsではじめるTDD</p>
            <p class="timetable-ltsSpeaker">伊藤 瑛</p>
          </li>
          <li>
            <p class="timetable-ltsTitle">Node.js with WebRTC DataChannel</p>
            <p class="timetable-ltsSpeaker">がねこまさし</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="timetable-row">
    <div class="timetable-time">
      <p>18:00</p>
    </div>
    <div class="timetable-content">
      <p>Closing</p>
    </div>
  </div>
</div>
