<dom-module id="nf-sponsors">
  <style>
    :host {
      display: block;
      padding-bottom: 30px;
      background: #607D8B;
      color: #FFFFFF;
    }
    .nf-sponsors__heading {
      padding: 40px 0  25px;
      font-size: 48px;
      font-weight: 100;
      text-align: center;
    }
    .nf-sponsors__heading::after {
      content: attr(data-en);
      display: block;
      padding-top: 10px;
      border-top: 1px solid #FFFF00;
      font-size: 24px;
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: normal;
    }
    .nf-sponsors__body {
      max-width: 958px;
      margin: 0 auto;
    }
    .nf-sponsors__bunners {
      position: relative;
      list-style: none;
    }
    .nf-sponsors__bunner {
      margin: 0 9px;
      padding-bottom: 18px;
    }
    .nf-sponsors__bunner:hover .nf-sponsor-description {
      opacity: 1;
    }
    .nf-sponsors__link {
      display: block;
      text-decoration: none;
    }

    .nf-sponsor-description {
      position: absolute;
      left: 0;
      z-index: 1;
      opacity: 0;
      overflow: hidden;
      box-sizing: border-box;
      width: 100%;
      padding: 0 15px;
      background: rgba(97, 97, 97, 0.9);
      color: #FFFFFF;
      transition: all 0.5s;
    }
    .nf-sponsor-description__heading {
      padding: 15px 0 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .nf-sponsor-description__txt {
      padding-bottom: 15px;
      font-size: 14px;
    }
  </style>
  <template>
    <h1 class="nf-sponsors__heading" data-en="Sponsors">スポンサー</h1>
    <div class="nf-sponsors__body">
      <ul class="nf-sponsors__bunners horizontal layout center-justified wrap">
        <template is="dom-repeat" items="{{sponsors}}">
        <li class="nf-sponsors__bunner">
          <a class="nf-sponsors__link" href$="{{item.url}}">
            <img src="{{item.thumb}}" width="220" height="160" alt$="{{item.name}}">
          </a>
          <div class="nf-sponsor-description">
            <h2 class="nf-sponsor-description__heading">{{item.name}}</h2>
            <p class="nf-sponsor-description__txt" inner-h-t-m-l="{{item.desc}}"></p>
          </div>
        </li>
        </template>
      </ul>
    </div>
  </template>
  <script>
    (function () {
      Polymer({
        is: 'nf-sponsors',
        ready: function() {
          this.sponsors = [];
        },
        fetch: function() {
          this.sponsors = window.NF.TEXT.SPONSORS;
        }
      });
    })();
  </script>
</dom-module>
