<%
var page = {
  title: 'Page'
}
%>


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div><% for (const calName in calendar ) {
                      const cal = calendar[calName]
                      %>
                <ul>
                    <% for (const room in cal.rooms) {
                            const entries = cal.rooms[room]%>
                    <% for (const entry of entries) {
                        const speaker = speakers[entry.person] %>
                    <li>
                        <%- room-%>
                        <%-
                         entry.start-%>
                        <hr/>
                        <%- entry.summary -%>
                        <%- entry.description -%>
                        <hr/>
                    </li>
                    <% } %>
                    <% }%>
                </ul>
                <% }%>
            </div>
</body>
</html>

